<!-- @if JSP -->
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@page import="java.text.SimpleDateFormat"%>
<%@page import="java.util.Date"%>
<%@page import="java.util.Calendar"%>
<!-- @endif -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>酷友全网市场监控系统</title>
  
  <!-- @if !JSP && DEBUG -->
  <link rel="stylesheet" href="/../kuyou/kuyou.css">
  <link rel="stylesheet" href="/main.css">
  <!-- @endif -->

  <!-- @if !JSP && !DEBUG -->
  <link rel="stylesheet" href="/dist/main.min.css">
  <!-- @endif -->

  <!-- @if JSP -->
  <link rel="stylesheet" href="${pageContext.request.contextPath}/dist/main.min.css">
  <!-- @endif -->
</head>

<body class="body">
  <svg style="display:none;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol id="icon-logo" viewBox="-0.106 -0.797 454 270">
      <g opacity="0.8">
        <g>
          <path d="M444.36,123.302C440.432,118.27,346.368,0,226.5,0C106.598,0,12.568,118.27,8.588,123.302L0,134.308
                      l8.588,10.985c3.951,4.98,98.01,123.298,217.911,123.298c119.868,0,213.933-118.317,217.86-123.298l8.616-10.985L444.36,123.302z
                       M407.462,144.172c-3.25,4.121-81.058,101.966-180.192,101.966c-99.171,0-176.955-97.845-180.22-101.966l-7.112-9.081l7.112-9.102
                      c3.278-4.164,81.049-101.991,180.22-101.991c99.135,0,176.942,97.827,180.192,101.991l7.121,9.102L407.462,144.172z" />
        </g>
      </g>
      <path d="M231.387,134.609l-56.891,78.3c-43.244-31.418-52.827-91.946-21.409-135.189
              c18.846-25.943,46.225-39.897,78.3-39.897V134.609z" />
      <path opacity="0.7" d="M231.434,134.379V37.591c32.075,0,59.456,13.955,78.299,39.897L231.434,134.379z" />
      <path opacity="0.6" d="M231.387,134.573l78.313-56.898c25.135,34.591,25.135,79.183,0,113.789L231.387,134.573z" />
      <path opacity="0.5" d="M231.366,134.564l78.299,56.899c-31.429,43.235-91.943,52.829-135.2,21.4l0,0L231.366,134.564
              z" />
    </symbol>
    <symbol id="icon-user" viewBox="0 0 32 32">
      <path d="M19.937 22.35c-0.785-0.127-0.803-2.288-0.803-2.288s2.309-2.29 2.815-5.366c1.354 0 2.193-3.27 0.837-4.422 0.056-1.21 1.739-9.507-6.79-9.507s-6.847 8.297-6.79 9.507c-1.354 1.153-0.516 4.425 0.836 4.425 0.503 3.074 2.816 5.364 2.816 5.364s-0.018 2.166-0.803 2.288c-2.533 0.406-11.995 4.307-11.995 8.885h31.877c-0.004-4.58-9.465-8.48-12-8.886z" />
    </symbol>
    <symbol id="icon-lock" viewBox="0 0 32 32">
      <path d="M12.03,9.096c0-2.509,1.609-4.551,4.116-4.551c2.509,0,3.682,2.042,3.682,4.551v3.939h4.142V9.096
  c0-4.551-3.269-8.255-7.823-8.255c-4.55,0-8.109,3.702-8.109,8.255v3.939h3.995V9.096H12.03z M22.771,15.05H9.234
  c-1.813,0-3.284,1.468-3.284,3.282v9.545c0,1.813,1.469,3.283,3.284,3.283h13.536c1.812,0,3.28-1.467,3.28-3.283v-9.545
  C26.049,16.518,24.582,15.05,22.771,15.05z" />
    </symbol>
    <symbol id="icon-tv" viewBox="0 0 32 32">
      <path d="M8.974,9.299L3.453,1.882l1.923-1.52l5.697,7.193l3.113-3.51l1.838,1.626l-2.825,3.628h18.572v22.486
  c-5.336,0-26.424,0-31.501,0V9.299H8.974z M6.057,12.022c-1.73,0-3.147,1.415-3.147,3.147v9.54c0,1.729,1.417,3.148,3.147,3.148
  h14.746c1.729,0,3.148-1.417,3.148-3.148v-9.54c0-1.732-1.417-3.147-3.148-3.147H6.057z M25.25,11.984v1.241h5.202v-1.241H25.25
  L25.25,11.984z M25.25,16.016v1.13h5.202v-1.13H25.25L25.25,16.016z M27.073,20.895c-0.792,0-1.433,0.64-1.433,1.434
  c0,0.792,0.641,1.434,1.433,1.434s1.435-0.642,1.435-1.434C28.508,21.534,27.865,20.895,27.073,20.895L27.073,20.895z
   M27.073,24.935c-0.792,0-1.433,0.641-1.433,1.433c0,0.793,0.641,1.435,1.433,1.435s1.435-0.642,1.435-1.435
  C28.508,25.575,27.865,24.935,27.073,24.935z" />
    </symbol>
    <symbol id="icon-phone" viewBox="0 0 32 32">
      <path d="M6.933,0.141h16.6c1.646,0,2.993,1.348,2.993,2.992v25.878c0,1.647-1.347,2.993-2.993,2.993h-16.6
  c-1.646,0-2.992-1.346-2.992-2.993V3.133c0-1.646,0.969-2.992,2.617-2.992H6.933z M13.221,28.063v2.671h4.024v-2.671h-3.498H13.221z
   M11.961,1.556v1.249h6.595V1.479h-6.595V1.556z M6.628,4.217v22.445h17.266V4.217H6.628z" />
    </symbol>
    <symbol id="icon-aircon" viewBox="0 0 32 32">
      <path d="M1.354,10.568c9.754,0,19.506,0,29.26,0c1.32,3.498,1.189,7.323,0,10.821c-0.717,0-1.435,0-2.151,0
  c0-0.895,0-1.788,0-2.682c-8.227,0-17.126,0-25.351,0c0,0.894,0,1.787,0,2.682c-0.812,0-0.946,0-1.757,0
  c-1.15-3.498-1.276-7.071,0-10.571V10.568z M4.023,20.525v0.906h23.521v-0.906H4.551H4.023z M4.047,13.302v2.714h20.834v-2.714
  H3.821H4.047z M27.522,13.113c-0.827,0-1.494,0.668-1.494,1.495c0,0.824,0.667,1.493,1.494,1.493c0.825,0,1.493-0.669,1.493-1.493
  C29.016,13.783,28.348,13.113,27.522,13.113z" />
    </symbol>
    <symbol id="icon-fridge" viewBox="0 0 32 32">
      <path d="M8.655,18.567h1.498v6.492h1.286v-6.492h11.908c0.603,0,1.092,0.494,1.092,1.094v10.807
  c0,0.602-0.489,1.092-1.092,1.092H8.655c-0.601,0-1.093-0.49-1.093-1.092V19.661c0-0.6,0.547-1.094,1.148-1.094H8.655z
   M22.314,1.708c0.45,0,0.833,0.887,0.931,1.308c-0.094-0.028-0.194-0.044-0.298-0.044H10.058c-0.503,0-0.921,0.359-0.991,0.821
  V2.385c0-0.526,0.43-0.677,0.954-0.677H22.314z M8.655,0.444c-0.601,0-1.093,0.492-1.093,1.092v14.618
  c0,0.601,0.492,1.093,1.093,1.093h1.498V6.871h1.286v10.376h11.908c0.603,0,1.092-0.492,1.092-1.093V1.536
  c0-0.601-0.489-1.092-1.092-1.092H8.655z" />
    </symbol>
    <symbol id="icon-washer" viewBox="0 0 32 32">
      <path d="M26.915,0.737H5.535c-1.038,0-2.206,1.168-2.206,2.208L3.196,7.006h25.607V2.943
      C28.804,1.905,27.954,0.737,26.915,0.737z M9.658,5.787H7.109V3.24l2.548,0.054V5.787z M13.487,5.787h-2.548V3.24l2.548,0.054
      V5.787z M17.317,5.787h-2.548V3.24l2.548,0.054V5.787z M23.04,5.914c-1.099,0-1.991-0.892-1.991-1.993
      c0-1.1,0.891-1.993,1.991-1.993V1.922c1.057,0,1.993,0.9,1.993,1.999S24.143,5.914,23.04,5.914z M3.303,29.375
      c0,1.041,0.849,1.889,1.888,1.889h21.724c1.039,0,1.889-0.848,1.889-1.889V8.45h-25.5L3.303,29.375L3.303,29.375z M25.321,22.086
      H21.18c0.346-1.9,0.367-3.803,0-5.703h4.142C25.754,18.227,25.781,20.123,25.321,22.086z M15.772,10.178
      c3.649,0,6.795,2.158,8.232,5.266h-2.918c-1.188-1.653-3.125-2.732-5.314-2.732c-3.608,0-6.533,2.926-6.533,6.534
      c0,3.605,2.926,6.531,6.533,6.531c2.2,0,4.147-1.086,5.329-2.752h2.915c-1.435,3.119-4.587,5.287-8.244,5.287
      c-5.007,0-9.066-4.061-9.066-9.066C6.706,14.237,10.766,10.178,15.772,10.178z M15.017,24.732c-2.7-0.369-4.783-2.684-4.783-5.486
      c0-2.148,1.222-4.008,3.005-4.927c-0.544,1.162-0.859,2.54-0.859,4.017C12.38,21.041,13.435,23.41,15.017,24.732z" />
    </symbol>
    <symbol id="icon-appliance" viewBox="0 0 32 32">
      <path d="M22.838,0.41H9.164c-1.46,0-2.654,1.195-2.654,2.655v27.142h1.333v1.383h2.75v-1.383h10.871v1.383h2.709
      v-1.383h1.317V3.063C25.49,1.605,24.299,0.41,22.838,0.41z M10.588,7.187H7.845V4.468h2.743V7.187z M14.662,7.187h-2.743V4.468
      h2.743V7.187z M19.946,10.167c-1.874,0-3.394-1.519-3.394-3.395c0-1.874,1.52-3.395,3.394-3.395c1.876,0,3.396,1.521,3.396,3.395
      C23.342,8.648,21.822,10.167,19.946,10.167z M19.922,4.843c-0.991,0-1.792,0.803-1.792,1.791c0,0.99,0.804,1.792,1.792,1.792
      c0.987,0,1.788-0.803,1.788-1.792S20.909,4.843,19.922,4.843z" />
    </symbol>
    <symbol id="icon-home" viewBox="0 0 32 32">
      <path d="M31.594,19.013L16,6.907L0.407,19.013v-4.937L16,1.972l15.594,12.104V19.013z M27.371,18.571v11.456h-6.512
  v-6.597h-8.597v6.597H5.746V18.571L16,9.8L27.371,18.571z" />
    </symbol>
    <symbol id="icon-sight" viewBox="0 0 32 32">
      <path d="M16.001,0.217c-8.718,0-15.784,7.068-15.784,15.782c0,8.718,7.066,15.785,15.784,15.785
  c8.713,0,15.78-7.066,15.78-15.785C31.781,7.285,24.715,0.217,16.001,0.217 M17.576,28.518v-4.625h-3.154v4.625
  C8.724,27.803,4.2,23.277,3.483,17.58h4.625v-3.158H3.483C4.2,8.722,8.724,4.2,14.422,3.483v4.626h3.154V3.483
  C23.275,4.2,27.801,8.722,28.516,14.422h-4.625v3.158h4.625C27.801,23.277,23.277,27.803,17.576,28.518" />
    </symbol>
    <symbol id="icon-cup" viewBox="0 0 32 32">
      <path d="M25.601,6.447l-0.079-4.295H6.417v4.21H0.039v1.953v2c0,3.315,2.85,5.999,6.166,5.999
  c0.627,0,1.232-0.095,1.802-0.274c1.444,2.065,3.18,4.075,5.734,4.594v5.682h-1.535c-2.21,0-4.001,1.326-4.001,3.535h16.002
  c0-2.209-1.791-3.535-4.001-3.535h-1.69v-5.678c2.555-0.52,4.445-2.529,5.891-4.594c0.569,0.179,1.174,0.274,1.801,0.274
  c3.317,0,5.756-2.686,5.756-5.999v-2V6.449h-6.36V6.447z M6.204,13.94c-1.999,0-3.626-1.628-3.626-3.626V8.59h3.839v1.724
  c0,1.259,0.021,2.459,0.442,3.566C6.646,13.92,6.425,13.94,6.204,13.94 M29.831,10.314c0,1.998-1.626,3.626-3.624,3.626
  c-0.225,0-0.964-0.022-1.18-0.06c0.424-1.107,0.656-2.308,0.656-3.566V8.59h4.147V10.314L29.831,10.314z" />
    </symbol>
    <symbol id="icon-line" viewBox="0 0 32 32">
      <path d="M2.646,29.129h29.067v2.666H0.123V0.205h2.523V29.129z M9.09,26.111c-1.653,0-2.987-1.336-2.987-2.99
  c0-1.65,1.336-2.986,2.987-2.986c0.087,0,0.175,0.004,0.262,0.012l3.211-5.354c-0.307-0.468-0.485-1.031-0.485-1.632
  c0-1.653,1.336-2.989,2.987-2.989c1.653,0,2.989,1.339,2.989,2.989c0,0.601-0.177,1.161-0.484,1.632l3.211,5.354
  c0.088-0.008,0.176-0.012,0.263-0.012c0.064,0,0.133,0.004,0.196,0.008l5.305-9.282c-0.329-0.48-0.521-1.062-0.521-1.686
  c0-1.651,1.338-2.984,2.989-2.984C30.661,6.19,32,7.526,32,9.174c0,1.655-1.339,2.991-2.986,2.991c-0.066,0-0.135-0.007-0.199-0.007
  l-5.304,9.279c0.328,0.482,0.52,1.063,0.52,1.684c0,1.656-1.338,2.99-2.986,2.99c-1.655,0-2.989-1.336-2.989-2.99
  c0-0.6,0.178-1.158,0.485-1.631l-3.211-5.354c-0.088,0.007-0.175,0.012-0.263,0.012c-0.085,0-0.172-0.005-0.26-0.012l-3.211,5.356
  c0.307,0.469,0.484,1.029,0.484,1.629C12.082,24.775,10.743,26.111,9.09,26.111" />
    </symbol>
    <symbol id="icon-column" viewBox="0 0 32 32">
      <path d="M1.004,24.979h29.992v3.928H1.004V24.979z M4.931,16.937h4.118v6.081H4.931V16.937z M11.012,8.894h4.024
  v14.124h-4.024V8.894z M17,14.973h4.024l-0.094,8.045H17V14.973L17,14.973z M22.987,3.093h4.025v19.924h-4.025V3.093z" />
    </symbol>
    <symbol id="icon-pie" viewBox="0 0 32 32">
      <path d="M15.739,17.988V4.072c-7.686,0-13.914,6.229-13.914,13.917c0,7.684,6.229,13.912,13.914,13.912
  s13.914-6.229,13.914-13.912c0-2.238-0.531-4.353-1.468-6.224L15.739,17.988z M30.174,7.788C27.889,3.228,23.175,0.1,17.729,0.1
  v13.912L30.174,7.788z" />
    </symbol>
    </symbol>
    <symbol id="icon-plus" viewBox="0 0 32 32">
      <path d="M27.447,13.158l-8.42,0.027v-8.48c0-0.518-0.421-0.936-0.936-0.936h-4.438c-0.515,0-0.937,0.417-0.937,0.936
  v8.48H4.298c-0.518,0-0.94,0.42-0.94,0.939v4.273c0,0.519,0.422,0.938,0.94,0.938h8.418v8.584c0,0.513,0.422,0.937,0.937,0.937
  h4.438c0.515,0,0.936-0.424,0.936-0.937v-8.584h8.42c0.518,0,0.938-0.42,0.938-0.938v-4.273c0-0.519-0.524-0.939-1.036-0.939" />
    </symbol>
    <symbol id="icon-minus" viewBox="0 0 32 32">
      <path d="M26.413,13.534L5.584,13.559c-0.466,0-0.842,0.378-0.842,0.842v3.848c0,0.463,0.375,0.842,0.842,0.842
  h20.829c0.467,0,0.845-0.379,0.845-0.842v-3.848c0-0.463-0.472-0.842-0.933-0.842" />
    </symbol>
    <symbol id="icon-zoomIn" viewBox="0 0 32 32">
      <path d="M31.631,0.372v11.72L27.408,7.87l-6.471,6.473l-3.283-3.277l6.475-6.473l-4.221-4.221H31.631z M7.872,4.593
  l6.472,6.473l-3.28,3.277L4.592,7.87l-4.22,4.222V0.372h11.722L7.872,4.593z M27.408,24.131l4.223-4.223v11.721H19.908l4.221-4.223
  l-6.475-6.473l3.283-3.277L27.408,24.131z M14.34,20.934l-6.471,6.473l4.222,4.223H0.37V19.908l4.22,4.223l6.471-6.475L14.34,20.934
  z" />
    </symbol>
    <symbol id="icon-download" viewBox="0 0 32 32">
      <path d="M25.755,14.568l-9.939,8.639l-9.972-8.639h5.837V0.447h8.465v14.121H25.755z M0.314,23.207v8.346h31.371
  v-8.346H0.314z M28.698,28.854h-5.647v-2.988h5.647V28.854z" />
    </symbol>
    <symbol id="icon-log" viewBox="0 0 32 32">
      <path d="M14.646,22.988l-5.854-6.767l1.667-3.417l4.187,3.272l7.836-6.922l1.667,3.417L14.646,22.988z M26.016,2.526
  l-0.008,24.612H5.883V2.52H1.458v25.494c0,2.008,1.643,3.652,3.651,3.652h21.782c2.009,0,3.651-1.643,3.651-3.652V2.52L26.016,2.526
  z M20.119,2.52V2.157c0-1.008-0.813-1.823-1.823-1.823h-3.65c-1.008,0-1.825,0.815-1.825,1.823V2.52H8.13v4.486h15.853V2.52H20.119z" />
    </symbol>
    <symbol id="icon-balance" viewBox="0 0 32 32">
      <rect x="4.859" y="6.249" width="22.201" height="3.776" />
      <rect x="14.111" y="4.399" width="3.701" height="24.05" />
      <path d="M11.606,21.299c0,3.129-2.536,5.666-5.667,5.666c-3.13,0-5.667-2.537-5.667-5.666
        c0-3.131,5.667-11.218,5.667-11.218S11.606,18.168,11.606,21.299z M5.775,18.1c-1.804,0-3.268,1.463-3.268,3.268
        c0,1.803,1.463,3.268,3.268,3.268c1.804,0,3.268-1.465,3.268-3.268C9.043,19.563,7.581,18.1,5.775,18.1z" />
      <path d="M31.727,21.299c0,3.129-2.537,5.666-5.668,5.666s-5.666-2.537-5.666-5.666
        c0-3.131,5.666-11.218,5.666-11.218S31.727,18.168,31.727,21.299z M25.895,18.1c-1.803,0-3.266,1.463-3.266,3.268
        c0,1.803,1.463,3.268,3.266,3.268s3.268-1.465,3.268-3.268C29.162,19.563,27.701,18.1,25.895,18.1z" />
    </symbol>
    <symbol id="icon-file" viewBox="0 0 32 32">
      <path d="M27.638,0.304L2.75,0.333v31.363h26.5V0.333 M26.8,29.201H5.203V2.702H26.8V29.201z M7.453,12.476H24.55
  v2.299H7.453V12.476z M7.578,17.202h16.974v2.424H7.578V17.202z M7.578,21.93h16.85v2.551H7.578V21.93z M7.453,7.501h16.975v2.302
  H7.453V7.501z" />
    </symbol>
    <symbol id="icon-gear" viewBox="0 0 32 32">
      <path d="M29.852,13.923l-2.104-0.515l-0.459-0.114l-0.127-0.451c-0.234-0.828-0.559-1.626-0.965-2.368l-0.25-0.446
  l0.297-0.413l1.018-1.433c0.34-0.484,0.285-1.137-0.135-1.562l-1.43-1.426c-0.234-0.229-0.535-0.353-0.855-0.353
  c-0.223,0-0.441,0.062-0.637,0.179l-1.607,0.975l-0.406,0.244l-0.41-0.234c-0.791-0.448-1.645-0.804-2.529-1.054l-0.496-0.139
  L18.67,4.307l-0.35-2.072c-0.1-0.586-0.611-1.011-1.199-1.011h-2.02c-0.562,0-1.049,0.377-1.181,0.925l-0.559,2.294l-0.112,0.443
  l-0.44,0.138c-0.797,0.248-1.577,0.58-2.309,0.999l-0.415,0.241L9.677,6.012l-2.29-1.395c-0.191-0.109-0.408-0.174-0.63-0.174
  c-0.325,0-0.632,0.124-0.861,0.357L4.468,6.227C4.056,6.644,4.002,7.314,4.34,7.791l1.545,2.174l0.284,0.4L5.949,10.8
  c-0.309,0.61-0.565,1.269-0.764,1.967l-0.132,0.45l-0.457,0.11l-2.448,0.596C1.6,14.059,1.22,14.543,1.22,15.106v2.017
  c0,0.596,0.424,1.1,1.01,1.199l2.35,0.398l0.493,0.086l0.144,0.477c0.226,0.744,0.522,1.454,0.885,2.12l0.222,0.409l-0.245,0.398
  l-1.46,2.395c-0.29,0.474-0.217,1.092,0.182,1.492l1.423,1.426c0.231,0.229,0.54,0.357,0.864,0.357c0.251,0,0.496-0.078,0.706-0.224
  l2.163-1.531l0.408-0.291l0.44,0.234c0.632,0.336,1.304,0.61,1.997,0.822l0.447,0.136l0.105,0.451l0.578,2.374
  c0.13,0.542,0.617,0.923,1.18,0.923h2.016c0.592,0,1.102-0.424,1.203-1.009l0.359-2.157l0.086-0.506l0.496-0.136
  c0.779-0.222,1.506-0.506,2.17-0.852l0.439-0.23l0.406,0.288l1.531,1.087c0.209,0.15,0.449,0.225,0.705,0.225
  c0.324,0,0.629-0.129,0.861-0.353l1.426-1.431c0.398-0.396,0.469-1.012,0.176-1.493l-0.973-1.593l-0.256-0.415l0.252-0.417
  c0.475-0.801,0.854-1.662,1.119-2.554l0.146-0.481l0.494-0.086l2.002-0.343c0.584-0.101,1.012-0.604,1.012-1.197v-2.015
  C30.781,14.539,30.398,14.057,29.852,13.923z M16.115,22.874c-3.814,0-6.909-3.098-6.909-6.915c0-3.815,3.095-6.91,6.909-6.91
  c3.817,0,6.913,3.095,6.913,6.91C23.027,19.776,19.932,22.874,16.115,22.874z" />
    </symbol>
    <symbol id="icon-delete" viewBox="0 0 32 32">
      <path d="M24.58,4.559H7.42c-1.582,0-2.861,1.28-2.861,2.861v0.955h22.882V7.42
  C27.441,5.839,26.162,4.559,24.58,4.559 M19.584,2.652l0.422,3.006h-8.011l0.421-3.006H19.584 M19.813,0.744h-7.625
  c-0.787,0-1.52,0.638-1.63,1.417L10,6.152c-0.109,0.779,0.446,1.415,1.233,1.415h9.537c0.785,0,1.34-0.636,1.23-1.417L21.441,2.16
  C21.334,1.382,20.6,0.744,19.813,0.744 M25.059,10.278H6.943c-1.048,0-1.829,0.854-1.733,1.899l1.562,17.176
  c0.094,1.049,1.032,1.902,2.08,1.902H23.15c1.051,0,1.99-0.857,2.08-1.902l1.563-17.176C26.889,11.133,26.107,10.278,25.059,10.278
   M12.188,27.723h-2.86l-0.955-14.36h3.815V27.723L12.188,27.723z M17.906,27.723h-3.812v-14.36h3.812V27.723z M22.674,27.723h-2.861
  v-14.36h3.814L22.674,27.723z" />
    </symbol>
    <symbol id="icon-edit" viewBox="0 0 32 32">
      <path d="M21.631,0.42L5.808,16.24l7.065,7.223L28.914,7.704L21.631,0.42z M2.792,25.578l8.278-0.918l-7.352-7.35L2.792,25.578z" />
      <rect x="2.866" y="27.229" width="26.343" height="4.352" />
    </symbol>
    <symbol id="icon-search" viewBox="0 0 32 32">
      <path d="M30.232,26.571l-7.189-6.114c-0.745-0.669-1.538-0.977-2.181-0.947c1.7-1.987,2.725-4.566,2.725-7.385
  c0-6.285-5.097-11.381-11.38-11.381c-6.285,0-11.381,5.096-11.381,11.381s5.097,11.382,11.381,11.382
  c2.818,0,5.397-1.025,7.383-2.723c-0.028,0.642,0.278,1.436,0.949,2.18l6.114,7.19c1.048,1.161,2.755,1.262,3.8,0.217
  C31.497,29.329,31.396,27.618,30.232,26.571 M12.205,19.714c-4.19,0-7.588-3.398-7.588-7.589c0-4.189,3.398-7.587,7.588-7.587
  s7.587,3.398,7.587,7.587C19.793,16.315,16.395,19.714,12.205,19.714" />
    </symbol>
    <symbol id="icon-profile" viewBox="0 0 32 32">
      <path d="M27.793,0.319H4.208c-1.608,0-2.92,1.313-2.92,2.922v25.525c0,1.602,1.313,2.918,2.92,2.918h23.585
  c1.602,0,2.92-1.316,2.92-2.918V3.236c0-1.607-1.537-2.919-3.145-2.919 M26.371,27.566H5.627V4.433h20.744V27.566L26.371,27.566z
   M9.52,19.172h12.734v2.17H9.52V19.172z M9.52,23.287h12.734v1.949H9.52V23.287z M11.021,9.076c0,1.615,1.309,2.921,2.921,2.921
  c1.614,0,2.92-1.306,2.92-2.921c0-1.614-1.307-2.919-2.92-2.919C12.329,6.159,11.021,7.465,11.021,9.076 M15.887,11.998h-3.893
  c-1.605,0-2.92,0.875-2.92,1.947v3.28h9.731v-3.28C18.809,12.873,17.494,11.998,15.887,11.998" />
    </symbol>
    <symbol id="icon-logout" viewBox="0 0 32 32">
      <path d="M11.785,16.447H2.284v-2.368h9.501V9.561l5.705,5.703l-5.705,5.7V16.447z M29.717,0.882v25.785l-9.25,5.7
  v-4.983H7.27v-8.32h2.26v6.42h10.937V7.662l6.526-4.516H9.53v8.321H7.27V0.887h22.447V0.882z" />
    </symbol>
    <symbol id="icon-triangle" viewBox="0 0 32 32">
      <path d="M15.998,22.55l10.6-12.476H5.402L15.998,22.55z" />
    </symbol>
    <symbol id="icon-arrow" viewBox="0 0 32 32">
      <path d="M27.11,17.875l-7.451-7.916l0.023-0.025l-3.53-3.7l-3.546,3.672l0.003,0.002l-7.532,7.808
      c0,0-1.425,1.85,0.217,3.415c1.644,1.569,3.316,0.29,3.316,0.29l7.506-7.786l7.447,7.913c0,0,2.147,0.926,3.344-0.293
      C28.098,20.038,27.11,17.875,27.11,17.875z" />
    </symbol>
    <symbol id="icon-clock" viewBox="0 0 32 32">
      <path d="M16,0.439c4.297,0,8.188,1.74,11.004,4.558C29.819,7.81,31.56,11.7,31.56,15.999
  c0,4.3-1.74,8.185-4.556,11.003c-2.814,2.814-6.705,4.559-11.004,4.559c-4.297,0-8.185-1.744-11.003-4.559S0.44,20.299,0.44,15.999
  c0-4.299,1.74-8.188,4.557-11.002C7.815,2.179,11.705,0.439,16,0.439L16,0.439z M17.959,15.388
  c-0.091-0.212-0.215-0.396-0.354-0.563c1.761-2.101,3.313-4.396,4.702-6.85c-0.346-0.266-0.692-0.527-1.037-0.791
  c-1.921,2.13-3.569,4.433-4.963,6.89c-0.44-0.085-0.91-0.042-1.348,0.154c-1.148,0.508-1.669,1.852-1.159,3
  c0.506,1.152,1.852,1.672,3,1.16c0.14-0.061,0.276-0.137,0.397-0.225c1.694,0.777,3.514,1.359,5.493,1.693
  c0.166-0.467,0.334-0.934,0.496-1.398c-1.593-0.9-3.274-1.577-5.037-2.068C18.164,16.057,18.104,15.716,17.959,15.388L17.959,15.388
  z M24.027,7.972C21.973,5.917,19.137,4.648,16,4.648c-3.134,0-5.975,1.268-8.027,3.324c-2.052,2.054-3.325,4.892-3.325,8.027
  c0,3.136,1.271,5.976,3.325,8.026c2.053,2.055,4.893,3.326,8.027,3.326c3.137,0,5.973-1.271,8.027-3.326
  c2.055-2.051,3.326-4.891,3.326-8.026C27.354,12.864,26.084,10.025,24.027,7.972z" />
    </symbol>
    <symbol id="icon-x" viewBox="0 0 32 32">
      <path d="M27.984,22.852l-6.877-6.829l6.902-6.896c0.42-0.421,0.42-1.108,0-1.526L24.4,3.988
  c-0.418-0.421-1.105-0.417-1.521,0l-6.903,6.903l-6.854-6.85c-0.416-0.421-1.103-0.421-1.522,0L4.12,7.521
  c-0.416,0.421-0.416,1.101,0,1.522l6.854,6.854l-6.982,6.979c-0.42,0.422-0.42,1.102,0,1.523l3.609,3.611
  c0.421,0.422,1.106,0.422,1.522,0l6.987-6.982l6.85,6.85c0.422,0.422,1.102,0.422,1.521,0l3.48-3.479
  c0.42-0.422,0.336-1.186-0.084-1.6" />
    </symbol>
    <symbol id="icon-right" viewBox="0 0 32 32">
      <path d="M2.63,16.428l4.944-4.946l6.065,5.499L24.43,5.187l4.941,4.941L13.639,27.213L2.63,16.428z" />
    </symbol>
    <symbol id="icon-cart" viewBox="0 0 32 32">
      <path d="M5.072,28.934c0,1.646,1.335,2.984,2.986,2.984c1.648,0,2.985-1.338,2.985-2.984
  c0-1.65-1.337-2.988-2.985-2.988C6.407,25.945,5.072,27.283,5.072,28.934 M24.97,28.934c0,1.646,1.335,2.984,2.983,2.984
  s2.985-1.338,2.985-2.984c0-1.65-1.337-2.988-2.985-2.988S24.97,27.283,24.97,28.934 M31.996,16V2.647H5.069
  c0-2.196-2.865-2.565-5.066-2.565v2.375c1.101,0,3.075,0.507,3.075,1.605l1.494,12.813c-0.91,0.73-1.494,1.847-1.494,3.105
  c0,2.201,1.786,4.686,3.98,4.686h23.878v-2.34H7.059c-1.101,0-1.989-1.246-1.989-2.342c0-0.01,0-0.014,0-0.023L31.996,16z" />
    </symbol>
    <symbol id="icon-star" viewBox="0 0 32 32">
      <path d="M30.615,12.719l-10.098-1.467l-4.517-9.15l-4.516,9.15L1.387,12.719l7.307,7.124L6.968,29.897l9.033-4.748
  l9.034,4.748l-1.727-10.055L30.615,12.719z" />
    </symbol>
    <symbol id="icon-warn" viewBox="0 0 32 32">
      <path d="M31.058,26.43c-0.57-0.992-12.882-20.831-13.861-22.523c-0.644-1.114-2.178-1.093-2.824,0
      C13.655,5.125,1.709,25.035,0.911,26.479c-0.584,1.055,0.061,2.443,1.396,2.443H29.65C30.861,28.922,31.764,27.668,31.058,26.43z
       M17.856,26.746h-4.298v-4.268h4.298V26.746z M17.913,20.191h-4.287V9.474h4.287V20.191z" />
    </symbol>
    <symbol id="icon-tag" viewBox="0 0 32 32">
      <path d="M28.771,3.248h-6.432c-1.518,0-3.637,0.878-4.709,1.95L6.827,16.005c-1.074,1.073-1.074,2.827,0,3.899
  l8.046,8.047c1.074,1.072,2.827,1.072,3.901,0l10.804-10.805c1.074-1.073,1.95-3.19,1.95-4.708V6.891
  C31.527,5.375,30.285,3.248,28.771,3.248 M25.094,12.438c-1.523,0-2.755-1.235-2.755-2.757c0-1.524,1.231-2.757,2.755-2.757
  c1.524,0,2.758,1.233,2.758,2.757C27.852,11.204,26.618,12.438,25.094,12.438 M2.77,18.602l9.833,9.834
  c-1.038,0.549-2.367,0.391-3.241-0.488L1.313,19.9c-1.072-1.07-1.072-2.826,0-3.897L12.121,5.196
  c1.072-1.072,3.188-1.951,4.706-1.951L2.774,17.301C2.413,17.66,2.413,18.244,2.77,18.602" />
    </symbol>
    <symbol id="icon-datepicker" viewBox="0 0 32 32">
      <path d="M8.278,1.936h-2.7v5.01h2.7V1.936z M26.323,1.758h-2.622v5.25h2.622V1.758z M3.06,4.21v0.091
      c0.015,0,0.028-0.008,0.043-0.008L3.06,4.21z M28.91,4.37v2.494c0,0,0.852,4.737-3.94,4.179c0,0-3.744,0.403-3.931-3.006
      l0.051-3.586H10.827v3.626c0,0,0.287,3.608-4.48,3.207c0,0-3.849,0.517-3.285-4.373V4.298C1.57,4.325,0.519,5.535,0.519,7.04
      v20.455c0,1.518,1.232,2.748,2.748,2.748H28.01c1.518,0,3.472-1.23,3.472-2.748V7.12C31.477,5.602,30.428,4.37,28.91,4.37z
       M11.026,27.883H5.528v-5.5h5.499V27.883z M11.026,20.154H5.528v-5.499h5.499V20.154z M18.732,27.883h-5.498v-5.5h5.498V27.883z
       M18.732,20.061h-5.498v-5.499h5.498V20.061z M26.435,27.793h-5.496v-5.5h5.496V27.793z M26.435,20.061h-5.496v-5.499h5.496
      V20.061z"/>
    </symbol>
  </svg>
  <header class="header flex">
    <a href="#" class="logo">
      <svg class="icon">
        <use xlink:href="#icon-logo"></use>
      </svg>
      酷友全网市场监控系统
    </a>
    <ul class="category flex-1 flex top-menu">
      <script type="text" class="template-topMenu">
        <# $.each(data.menu, function(i) { #>
          <li data-key="<#- this.key #>">
            <a href="#<#- this.url #>">
              <svg class="icon">
                <use xlink:href="#icon-<#- this.icon #>"></use>
              </svg>
              <#- this.name #>
            </a>
            <# if (this.submenu) { #>
              <ul>
                <# $.each(this.submenu, function() { #>
                  <li data-key="<#- this.key #>">
                    <a href="#<#- this.url #>">
                      <#- this.name #>
                    </a>
                  </li>
                  <# }); #>
              </ul>
              <# } #>
          </li>
          <# }); #>
      </script>
    </ul>
    <div class="user">
      <div class="info">
        <span class="user-name">
          <svg class="icon">
            <use xlink:href="#icon-user"></use>
          </svg>
        <!-- @if JSP -->
          ${user.userName}
        </span>
        <a href="${pageContext.request.contextPath}/logout.do">[退出]</a>
        <!-- @endif -->

        <!-- @if !JSP -->
          admin
        </span>
        <a href="user/logout.do">[退出]</a>
        <!-- @endif -->
      </div>
<!--       <div class="setting">
        <a href="">基础设置</a> &nbsp;|&nbsp;
        <a href="">账号管理</a>
      </div> -->
    </div>
  </header>
  <section class="wrapper flex">
    <section class="sidebar">
      <ul class="navi side-menu">
        <script type="text" class="template-sideMenu">
          <# $.each(data.menu, function() { #>
            <# if (this.key==='iteration' &&App.category!=='phone' ) return; #>
              <li data-key="<#- this.key #>">
                <a href="#<#- this.url #>">
                  <svg class="icon">
                    <use xlink:href="#icon-<#- this.icon #>"></use>
                  </svg>
                  <#- this.name #>
                </a>
                <# if (this.submenu) { #>
                  <ul>
                    <# $.each(this.submenu, function() { #>
                      <# if (this.key==='trend' &&App.category!=='phone' ) return false; #>
                        <li data-key="<#- this.key #>">
                          <a href="#<#- this.url #>">
                            <#- this.name #>
                          </a>
                        </li>
                        <# }); #>
                  </ul>
                  <# } #>
              </li>
              <# }); #>
        </script>
      </ul>
    </section>
    <section class="main">
      <div class="breadcrumbs">
        <script type="text" class="template-breadcrumbs">
          <svg class="icon">
            <use xlink:href="#icon-home"></use>
          </svg>
          <a href="#">首页</a>
          <span class="divider">&gt;</span>
          <# $.each(data.nodes, function(i) { if (i < data.nodes.length - 1) { #>
            <a href="#<#- this.url #>">
              <#- this.name #>
            </a>
            <span class="divider">&gt;</span>
            <# } else { #>
              <span><#- this.name #></span>
              <# } }); #>
        </script>
      </div>
      <div class="content" id="content"></div>
    </section>
  </section>
  <footer class="footer">
    TCL集团股份有限公司版权所有 粤ICP备05040863号 &copy;2010-2011 TCL CORPORATION All Rights Reserved.
  </footer>
  <div class="screen-toggle">
    <span class="arrow"></span>
  </div>
  <script type="text" id="template-loading">
    <div class="request-tip loading">
      <span class="tip">加载中，请稍候</span>
    </div>
  </script>
  <script type="text" id="template-error">
    <div class="request-tip error">
      <span class="tip">加载异常，请重试</span>
    </div>
  </script>
  <script type="text" id="template-noData">
    <div class="request-tip noData">
      <span class="tip">暂无数据</span>
    </div>
  </script>
  <script type="text" id="template-success">
    <div>
      <svg class="icon">
        <use xlink:href="#icon-right"></use>
      </svg>
      <#- data.tip #>
    </div>
    <button type="button" class="btn btn-sm btn-primary dialog-close">确定</button>
  </script>
  <script type="text" id="template-dialog-error">
    <div>
      <svg class="icon">
        <use xlink:href="#icon-warn"></use>
      </svg>
      <#- data.tip #>
    </div>
    <button type="button" class="btn btn-sm btn-primary dialog-close">确定</button>
  </script>
  <script type="text" id="template-datepicker">
    <div class="date-item <#- (data.type==='week'?'active':'') #>" data-type="week">最近7天</div>
    <div class="date-item <#- (data.type==='month'?'active':'') #>" data-type="month">最近30天</div>
    <div class="dropdown">
      <div class="selected-item drop-toggle <#- (!data.type?'active':'') #>">
        <svg class="icon">
          <use xlink:href="#icon-datepicker"></use>
        </svg>
        <span class="selected-date"><#- $.format.date(data.begin, 'yyyy-mm-dd')+ ' -- '+$.format.date(data.end, 'yyyy-mm-dd') #></span>
      </div>
      <div class="drop-layer"></div>
    </div>
  </script>
  <script type="text" id="template-search">
    <div class="input-text-group inline">
      <svg class="icon">
        <use xlink:href="#icon-search"></use>
      </svg>
      <input type="text" autocomplete="off" name="keyword" class="input-text input-sm" placeholder="<#- data.placeholder #>" value="<#- (data.value||'') #>">
      <svg class="icon clear">
        <use xlink:href="#icon-x"></use>
      </svg>
    </div>
    <button type="submit" class="btn btn-sm btn-primary">搜索</button>
  </script>
  <script type="text" id="template-pagination">
    <ul class="pagination">
      <li>
        <# if (data.current> 1) { #>
          <a href="#" data="prev" class="page">&lt;</a>
          <# } else { #>
            <span class="not-page disabled">&lt;</span>
            <# } #>
      </li>
      <# if (data.start !==1 ) { #>
        <# for (var i=1 ; i <=2 ; i++) { #>
          <li>
            <a href="#" data="<#- i #>" class="page">
              <#- i #>
            </a>
          </li>
          <# } #>
            <li>
              <div class="not-page">...</div>
            </li>
            <# } #>
              <# for (var i=data.start; i <=data.end; i++) { #>
                <li <#- (data.current===i? 'class="active"': '') #>>
                  <a href="#" data="<#- i #>" class="page">
                    <#- i #>
                  </a>
                </li>
                <# } #>
                  <# if (data.end !==data.counts) { #>
                    <li>
                      <div class="not-page">...</div>
                    </li>
                    <# } #>
                      <li>
                        <# if (data.current < data.counts) { #>
                          <a href="#" data="next" class="page">&gt;</a>
                          <# } else { #>
                            <span class="not-page disabled">&gt;</span>
                            <# } #>
                      </li>
                      <li>
                        <div class="not-page">共
                          <#- data.counts #> 页</div>
                      </li>
                      <li>
                        <form class="form-paging">
                          <label>跳转到</label>
                          <input type="text" autocomplete="off" name="page" class="input-text input-sm">
                          <button type="submit" class="btn btn-sm">确定</button>
                        </form>
                      </li>
    </ul>
  </script>
  <script type="text" id="template-select">
    <option value="">
      <#- data.title #>
    </option>
    <# $.each(data.items||[], function(i, v) { #>
      <option value="<#- v #>" <#- (data.selected===v? 'selected': '') #>>
        <#- v #>
      </option>
      <# }); #>
  </script>
  <script type="text" id="template-multiSelect">
    <# $.each(data.items || [], function () { #>
      <li>
        <label class="checkbox-group">
          <input type="checkbox" class="checkbox" <#- this.checked? 'checked': '' #> value="
          <#- this.name #>">
            <span class="text"><#- this.name #></span>
        </label>
      </li>
      <# }); #>
  </script>
  <script type="text" id="template-tags">
    <# $.each(data.tags, function() { #>
      <div class="tag-item" style="font-size:<#- this.size #>px;background-color:<#- this.color #>"><span class="tooltip" data-title="<#- this.count #>"><#- this.tag #></span></div>
      <# }); #>
  </script>
  <script type="text" id="template-popover">
    <div class="popover">
      <div class="pop-content"></div>
      <div class="arrow"></div>
      <div class="arrow arrow2"></div>
    </div>
  </script>
  <script type="text" id="template-confirm">
    <h1><#- data.title #></h1>
    <div class="btns">
      <button type="button" class="btn btn-sm btn-primary sure">确定</button>
      <button type="button" class="btn btn-sm btn-default dialog-close">取消</button>
    </div>
  </script>
  <script type="text" id="template-dialog">
    <div class="dialog-head">
      <h1>
            <svg class="icon">
                <use xlink:href="#icon-<#- data.icon||'file' #>"></use>
            </svg>
            <#- data.title #>
        </h1>
      <svg class="icon dialog-close">
        <use xlink:href="#icon-x"></use>
      </svg>
    </div>
    <div class="dialog-body"></div>
  </script>

  <!-- @if !JSP && DEBUG -->
  <script src="/lib/require.min.js"></script>
  <script src="/../kuyou/require.config.js"></script>
  <script src="/main.js"></script>
  <script>
  // require(['http://127.0.0.1:3000/lib/heatmap.js'], function(h337) {
  //   var heatmapInstance = h337.create({
  //     container: document.body,
  //     height: 1528
  //   });
  //   var points = [];
  //   var max = 0;
  //   var width = 1264;
  //   var height = 1500;
  //   var len = 300;

  //   while (len--) {
  //     var val = Math.floor(Math.random()*100);
  //     max = Math.max(max, val);
  //     var point = {
  //       x: Math.floor(Math.random()*width),
  //       y: Math.floor(Math.random()*height),
  //       value: val
  //     };
  //     points.push(point);
  //   }
  //   // heatmap data format
  //   var data = { 
  //     max: max, 
  //     data: points 
  //   };
  //   // if you have a set of datapoints always use setData instead of addData
  //   // for data initialization
  //   heatmapInstance.setData(data);
  //   // document.body.onclick = function(ev) {
  //   //   heatmapInstance.addData({
  //   //     x: ev.layerX,
  //   //     y: ev.layerY,
  //   //     value: 5
  //   //   });
  //   // };
  // })
  </script>
  <!-- @endif -->

  <!-- @if !JSP && !DEBUG -->
  <script src="/dist/main.min.js"></script>
  <!-- @endif -->

  <!-- @if JSP -->
  <script src="${pageContext.request.contextPath}/dist/main.min.js"></script>
  <!-- @endif -->
</body>

</html>