.header {
  height: 70px;
  color: #dadada;
}
.header a {
  color: #dadada;
}
.header a:hover {
  color: #fff;
}
.header .logo {
  line-height: 70px;
  margin-right: 27px;
  color: #fff;
}
.header .category li.active a {
  color: #fff;
}
.header .category > li {
  text-align: center;
  position: relative;
  z-index: 1;
  border-right: 1px solid #4c4c4c;
}
.header .category > li:first-child {
  border-left: 1px solid #202020;
}
.header .category > li:first-child a {
  border-left: 1px solid #4c4c4c;
}
.header .category > li > a {
  display: inline-block;
  width: 73px;
  height: 70px;
  border-right: 1px solid #202020;
}
.header .category > li > a .icon {
  width: 26px;
  height: 26px;
  margin: 10px auto 5px;
  display: block;
}
.header .category > li:hover, .header .category > li > a:hover {
  background-color: #000;
  text-decoration: none;
}
.header .category > li.active > a {
  background-color: #e60012;
  box-shadow: 0 0 16px rgba(0, 0, 0, .29) inset;
  text-decoration: none;
}
.header .category > li ul {
  text-align: left;
  padding: 9px 7px 3px;
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, .8);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.header .category > li ul li {
  margin-bottom: 4px;
}
.header .category > li ul a {
  display: block;
  width: 130px;
  padding: 0 11px;
  border-radius: 3px;
}
.header .category > li ul li.active a {
  background-color: #e60012;
  text-decoration: none;
}
.header .category > li ul a:hover {
  background-color: #000;
  text-decoration: none;
}
.header .category > li:hover ul {
  display: block;
}
.header .user {
  text-align: center;
}
.header .user .info {
  height: 38px;
  line-height: 38px;
}
.tags-content {
  padding: 30px;
}
.tags-content .tag-item {
  display: inline-block;
  color: #fff;
  border-radius: 3px;
  margin: 5px 20px;
  padding: 2px 20px;
  position: relative;
}
.tags-content .tag-item:before {
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  background-color: inherit;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
}
.tags-content .tooltip {
  position: relative;
}
.tags-content .tooltip:hover:before {
  background: rgba(0, 0, 0, .8);
  border-radius: 3px;
  position: absolute;
  bottom: 32px;
  color: #fff;
  content: attr(data-title);
  left: 20%;
  padding: 5px 15px;
}
.tags-content .tooltip:hover:after {
  border-top: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: '';
  bottom: 27px;
  left: 50%;
  position: absolute;
}
.content .head {
  margin: 9px 0;
}
.content .head .search .input-text-group {
  width: 220px;
  margin-right: 8px;
}
/*.content .head .input-text {
    padding-top: 3px;
    padding-bottom: 3px;
}*/
/*.content .head .select-sm {
    padding-top: 1px;
    padding-bottom: 1px;
}*/

.analysis .line {
  height: 300px;
}
.analysis .brand-ranking > .module-body {
  padding: 15px;
}
.analysis .pie {
  height: 400px;
  margin: auto;
}
.analysis .grid {} .analysis .grid .table {
  margin: auto;
  border: 1px solid #e0e0e0;
}
.analysis .circles {
  position: relative;
  min-height: 200px;
}
.analysis .circles-legend {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #666;
}
.analysis .legend {
  margin-left: 20px;
}
.analysis .legend:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 10px;
  margin-right: 6px;
}
.analysis .legend.good:before {
  background: url(img/legend-good.png) no-repeat center;
}
.analysis .legend.poor:before {
  background-color: #dadada;
}
.analysis .circles-container {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  /* flex-direction: row; */
  flex-wrap: wrap;
}
.analysis .circles .circle-container {
  /* width: 200px; */
  margin-top: 15px;
  cursor: pointer;
  flex-basis: 20%;
}
/*.analysis .circles .circle-container.disabled * {
    cursor: not-allowed!important;
}  */

.analysis .circles .circle-name {
  text-align: center;
}
.analysis .circles .name {
  display: inline-block;
  padding: 1px 13px;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background-color: #f8f8f8;
  text-align: center;
}
/*.analysis .circles .circle-container.active .circle-name .name:before {
    content: 'rig';
    display: inline-block;
}*/

.analysis .circles .circle-container .circle {
  /*background-color: #000;*/
  
  width: 100%;
  height: 150px;
}
.analysis .module-body .module-head {
  border: 1px solid #e0e0e0;
  margin-top: 15px;
}
.analysis .wom-tags .module-head {
  color: #666;
  margin-bottom: 15px;
}
.analysis .wom-tags .tags-good, .analysis .wom-tags .tags-poor {
  border: 1px solid #e0e0e0;
}
.analysis .wom-tags .tags-good {
  border-right: 0;
}
.analysis .wom-tags .tags-title {
  /*text-align: center;*/
  
  padding: 5px 8px;
  background-color: #f8f8f8;
}
.analysis .wom-tags .tags-content {
  min-height: 200px;
}
.analysis-detail .grid {
  min-height: 500px;
}
.product .detail {
  min-height: 500px;
  padding: 15px;
}
.product .detail > h1.name {
  font-size: 16px;
  margin-bottom: 15px;
}
.product .detail .list-item {
  padding: 4px 10px;
  background-color: #f8f8f8;
  margin-bottom: 10px;
  font-size: 13px;
}
.product .detail .col-name {
  color: #666;
  margin-right: 15px;
}
.product .detail .picture-container {
  border: 1px solid #e0e0e0;
  margin-right: 30px;
}
.product .detail .picture-container .picture {
  margin: auto;
  max-width: 280px;
  max-height: 280px;
}
.product .detail .overview .tags {
  border: 1px solid #e0e0e0;
}
.product .detail .overview .tags-content {
  min-height: 170px;
}
.product .detail .parameter {
  margin-top: 30px;
}
.product .detail .parameter-list {
  flex-wrap: wrap;
  /* justify-content: space-between; */
  
  padding: 0 10px;
  color: #666;
  align-content: space-between;
}
.product .detail .parameter-item {
  width: 30%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  margin-right: 3.3%;
}
.product .full-line {
  min-height: 280px;
  padding-top: 15px;
}
.product .special {
  position: relative;
}
.product .special .grid {
  min-height: 300px;
}
.product .special .store {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.product .special .store .line {
  height: 90%;
  padding-top: 15px;
}
.checking .quadrant {
  /*height: */
}
.checking .legend {
  padding-left: 20px;
  padding-top: 5px;
  margin-bottom: -15px;
  position: relative;
  z-index: 1;
}
.checking .legend > span {
  display: inline-block;
  margin-right: 10px;
}
.checking .legend > span:before {
  width: 1em;
  height: 1em;
  display: inline-block;
  content: '';
  border-radius: 50%;
  vertical-align: -2px;
  margin-right: 5px;
}
.checking .legend > span.tcl:before {
  background-color: rgba(230, 0, 18, .5);
}
.checking .legend > span.other:before {
  background-color: rgba(142, 156, 188, .5);
}
.checking .legend > span.filter:before {
  background-color: rgba(0, 170, 184, .5);
}
.checking svg .line line {
  stroke: #dadada;
  shape-rendering: crispEdges;
}
.checking svg circle {
  cursor: pointer;
  fill: #8e9cbc;
  fill-opacity: 0;
}
.checking svg circle.highlight {
  fill: #e60012;
}
.checking svg circle.searched {
  fill: rgb(0, 170, 184);
}
.checking .overlay {
  fill: #f8f8f8;
  stroke: #dadada;
  shape-rendering: crispEdges;
  cursor: move;
  pointer-events: all;
}
.checking .axis line {
  stroke: #757575;
  stroke-width: 2;
  shape-rendering: crispEdges;
}
.checking .slider {
  fill: #dadada;
  stroke: #c1c1c1;
  /*  stroke-width: 1;
  shape-rendering: crispEdges;*/
}
.checking .slider-bar {
  fill: #f8f8f8;
  stroke: #c1c1c1;
  /*  stroke-width: 1;
  shape-rendering: crispEdges;*/
}
.checking .slider-handle {
  fill: #fff;
  stroke: #c1c1c1;
  /*  stroke-width: 1;
  shape-rendering: crispEdges;*/
  
  cursor: ns-resize;
}
.checking .zoom-in-out {
  cursor: pointer;
}
.checking .zoom-in-out rect {
  fill: #fff;
  stroke: #c1c1c1;
  /*shape-rendering: crispEdges;*/
}
.checking .zoom-in-out use {
  fill: #858585;
}
.checking .axis-label rect {
  fill: #f8f8f8;
  stroke: #c1c1c1;
  /*    stroke-width: 1;
    shape-rendering: crispEdges;*/
}
.checking .axis-label use {
  fill: #838383;
}
.checking .quadrant {
  min-height: 500px;
}
.quadrant-detail {
  width: 500px;
}
.quadrant-detail .list {
  min-height: 200px;
}
.quadrant-detail .list .table {
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
.quadrant-detail .list td.label {
  background-color: #f8f8f8;
  border-right: 1px solid #e5e5e5;
}
.quadrant-detail .go-detail {
  display: inline-block;
  margin: 6px 0;
}
/*.quadrant-detail dl {
    border-bottom: 1px solid #dadada;
}
.quadrant-detail dt,
.quadrant-detail dd {
    display: inline-block;
    padding: 5px 10px;
}
.quadrant-detail dt {
    color: #666;
    width: 100px;
    background-color: #f8f8f8;
    border-right: 1px solid #dadada;
}*/

.checking .grid {
  min-height: 500px;
}
.compare .head .filter {
  margin-top: 9px;
}
.compare .head .form-price .input-text-group {
  width: 80px;
}
.compare .list {
  min-height: 500px;
  padding: 8px;
  padding-bottom: 50px;
}
.compare .list > ul {
   display: flex; 
   flex-wrap: wrap; 
}
.compare .list > ul > li {
  padding: 10px;
  flex-basis: 25%;
}
.compare .list > ul > li > a {
  display: block;
  color: #333;
  border: 1px solid #dadada;
}
.compare .list > ul > li h1 {
  padding: 3px 5px;
  font-weight: normal;
}
.compare .list > ul > li .img {
  text-align: center;
  height: 100px;
  margin: 0 30px 5px;
}
.compare .list > ul > li .img img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.compare .list > ul > li dl {
  margin: 0 30px;
  line-height: 2;
  display: flex;
}
.compare .list > ul > li dl dt {
  color: #666;
  /*display: inline-block;*/
}
.compare .list > ul > li dl dd {
  /*display: inline-block;*/
}
.compare .list > ul > li dl dd.model-type {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.compare .list > ul > li .bottom {
  margin-top: 12px;
  text-align: center;
  background-color: #ebebeb;
  height: 20px;
  line-height: 20px;
}
.compare .list > ul > li .bottom .checkbox-group {
  display: block;
}
.compare .list > ul > li:hover, .compare .list > ul > li.active {
  border-color: #e60012;
}
.compare .list > ul > li.active .bottom {
  background-color: #e60012;
  color: #fff;
}
.compare .list > ul .pagination {
  border-right: 1px solid #e5e5e5;
  margin-right: 8px;
}
.compare .selected {
  position: fixed;
  bottom: 0;
  right: -1010px;
  background-color: #f8f8f8;
  border-top: 1px solid #cecece;
  /* border-left: 1px solid #cecece; */
  
  box-shadow: -1px -1px 1px rgba(0, 0, 0, .2);
  z-index: 1;
  height: 100px;
  transition: right .5s;
}
.compare .selected.unfold {
  right: 0;
}
.compare .selected .toggle {
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 22px;
  background-color: #e60012;
  color: #fff;
  top: -1px;
  bottom: 0;
  text-align: center;
  padding-top: 22px;
}
.compare .selected .toggle:after {
  content: '展开';
}
.compare .selected.unfold .toggle:after {
  content: '收起';
}
.compare .selected .toggle .icon {
  transform: rotate(-90deg);
}
.compare .selected.unfold .toggle .icon {
  transform: rotate(90deg);
}
.compare .selected .content {
  margin: 11px;
  position: relative;
  margin-left: 33px;
}
.compare .selected .content .items-group {
  position: relative;
}
.compare .selected .content ul {
  counter-reset: index;
}
.compare .selected .content li .default {
  padding: 28px 53px;
}
.compare .selected .content li {
  padding: 28px 53px;
  border: 1px solid #dadada;
  margin-right: 11px;
  background-color: #fff;
}
.compare .selected .content li:before {
  counter-increment: index;
  content: counter(index);
  margin-right: 8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #a8a8a8;
  color: #fff;
}
.compare .selected .content li:after {
  content: '可继续添加产品';
  color: #a8a8a8;
  ;
}
.compare .selected .content .items {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.compare .selected .content .select-item {
  background-color: #fff;
  width: 220px;
  height: 78px;
  display: flex;
  border: 1px solid #dadada;
  position: relative;
  margin-right: 11px;
}
.compare .selected .content .select-item .img {
  width: 50%;
  height: 90%;
  margin-right: 10px;
  text-align: center;
  margin: auto 5px;
}
.compare .selected .content .select-item .img img {
  max-width: 100%;
  max-height: 100%;
}
.compare .selected .content .select-item .info {
  flex: 1;
  white-space: nowrap;
  margin: auto;
  margin-right: 18px;
  overflow: hidden;
}
.compare .selected .content .select-item .remove {
  position: absolute;
  right: 3px;
  top: 3px;
  color: #a8a8a8;
  cursor: pointer;
}
.compare .selected .content .select-item .remove:hover {
  color: #666;
}
.compare .selected .content .operate {
  text-align: center;
  line-height: 25px;
  padding-top: 16px;
  margin-left: 4px;
}
.compare .selected .content .operate .disabled {
  border-color: #e0e0e0;
  background-color: #fff;
  color: #e0e0e0;
  cursor: default;
}
.compare-setting {
  width: 800px;
  min-height: 400px;
}
.compare-setting .list {
  height: 400px;
  overflow: auto;
  /* width: 650px; */
}
.compare-setting .list.only-one > li .operate .remove {
  display: none;
}
.compare-setting .list > li {
  display: flex;
  margin: 9px 52px 9px 13px;
  border: 1px solid #dadada;
  position: relative;
}
.compare-setting .list > li > label {
  background-color: #f8f8f8;
  color: #666;
  padding: 10px 11px;
  width: 100px;
  border-right: 1px solid #dadada;
  display: inline-block;
}
.compare-setting .list > li > label .name {
  display: block;
  padding: 2px 4px;
  border: 1px solid #f8f8f8;
  cursor: pointer;
}
.compare-setting .list > li > label .name.fixed {
  cursor: default;
}
.compare-setting .list > li > label .input-name {
  display: none;
  width: 70px;
}
.compare-setting .list > li > label.edit .name {
  display: none;
}
.compare-setting .list > li > label.edit .input-name {
  display: inline-block;
}
.compare-setting .list > li .items .item {
  margin: 9px 10px;
  padding: 3px 5px;
  display: inline-block;
  margin-bottom: 0;
  cursor: default;
}
.compare-setting .list > li .items .item:hover {
  background-color: #f8f8f8;
}
.compare-setting .list > li .items.fixed .item:hover {
  background-color: transparent;
}
.compare-setting .list > li .items .item .icon {
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer;
  margin-left: 3px;
}
.compare-setting .list > li .items.fixed .item .icon {
  visibility: hidden;
}
.compare-setting .list > li .items .item:hover .icon {
  opacity: 1;
  color: #aaa;
}
.compare-setting .list > li .items .item:hover .icon:hover {
  fill: #333;
}
.compare-setting .list > li .select {
  margin: 10px 11px;
}
.compare-setting .list > li .select .icon {
  left: auto;
  right: 6px;
}
.compare-setting .list > li .drop-layer {
  left: 0;
  right: 0;
}
.compare-setting .list > li .select-list {
  max-height: 200px;
  overflow: auto;
}
.compare-setting .list > li .select-list li {
  margin: 7px;
}
.compare-setting .list > li .items .input-text-group .input-text {
  padding: 3px 24px 3px 5px;
}
.compare-setting .list > li .operate {
  position: absolute;
  left: 100%;
  top: -1px;
  margin-left: 5px;
  display: flex;
}
.compare-setting .list > li .operate button {
  border: 1px solid #dadada;
  color: #b0b0b0;
  background-color: #fff;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  padding: 1px;
}
.compare-setting .list > li .operate button:hover {
  color: #fff;
  background-color: #dd515c;
  border-color: #dd515c;
}
.compare-setting .btns {
  padding: 10px;
  border-top: 1px solid #dadada;
  background-color: #f8f8f8;
}
.compare-setting .btns .tip,
.compare-setting .list .tip {
  display: none;
  color: #e60012;
}
.compare-detail .detail {
  min-height: 550px;
}
.compare-detail .table tr td {
  width: 21%;
}
.compare-detail .table tr td:first-child {
  width: 16%;
}
.compare-detail .table .pic .add {
  font-size: 25px;
  color: #e1e1e1;
}
.compare-detail .table .product-name a {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}
.compare-detail .table tr .td-1, .compare-detail dt {
  background-color: #f8f8f8;
  color: #666;
}
.compare-detail dt {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 5px 15px;
  cursor: pointer;
}
.compare-detail dt span.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 2px;
  background-color: #a8a8a8;
  color: #fff;
  margin-right: 9px;
  position: relative;
  top: 1px;
}
.compare-detail dt .unfold {
  display: none;
}
.compare-detail dl.unfold .unfold {
  display: inline-block;
}
.compare-detail dl.unfold .fold {
  display: none;
}
.compare-detail dl.unfold dd {
  display: none;
}
/*.compare-detail dt. .unfold*/

.analysis-trend .linear {
  position: relative;
  margin: 19px 19px 19px 80px;
  border-left: 1px solid #c5c5c5;
  padding: 36px 0;
}
.analysis-trend .linear button.roll-trigger {
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #de525c;
  position: absolute;
  left: -10px;
  color: #fff;
  font-size: 13px;
  padding: 3px;
  border: 0;
}
.analysis-trend .linear button.roll-trigger[disabled] {
  background-color: #c5c5c5;
}
.analysis-trend .linear .roll-trigger.up {
  top: 0;
}
.analysis-trend .linear .roll-trigger.down {
  bottom: 0;
}
.analysis-trend .linear .roll-trigger.down svg {
  transform: rotate(180deg);
}
.analysis-trend .overflow {
  overflow: hidden;
  position: relative;
  /*margin: 36px 0;*/
  
  margin-left: -76px;
  height: 300px;
}
.analysis-trend .list {
  position: absolute;
  left: 76px;
  right: 0;
  top: 0;
  bottom: 0;
  transition: top .5s ease;
}
.analysis-trend .list > li {
  border-top: 1px solid #c5c5c5;
  position: relative;
  padding: 14px 11px;
  display: flex;
}
.analysis-trend .list > li:last-child {
  border-bottom: 1px solid #c5c5c5;
}
.analysis-trend .list > li .chart {
  margin-left: 30px;
  flex: 1;
  height: 130px;
}
.analysis-trend .list > li .chart.empty {
  justify-content: center;
  align-items: center;
}
.analysis-trend .list > li .chart .column {
  height: 110px;
  width: 50px;
  margin-left: 30px;
  position: relative;
  margin-bottom: 20px;
}
.analysis-trend .list > li .chart .column .bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-animation: 1s rise;
}
.analysis-trend .list > li .chart .column:not(:first-child) .bar {
  background-color: #a4a4a4!important;
}
@-webkit-keyframes rise {
  0% {
    height: 0%;
  }
}
.analysis-trend .list > li .chart .column .bar .label {
  position: absolute;
  width: 160%;
  bottom: 100%;
  left: -30%;
  text-align: center;
  margin-bottom: 2px;
}
.analysis-trend .list > li .chart .column .name {
  position: absolute;
  top: 100%;
  display: block;
  width: 160%;
  word-wrap: break-word;
  left: -30%;
  color: #333;
  text-align: center;
  margin-top: 2px;
}
.analysis-trend .list > li .new {
  margin: auto;
  margin-left: 50px;
  text-align: center;
  line-height: 37px;
  width: 200px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 9px 0;
}
.analysis-trend .list > li .new .count {
  font-weight: bold;
  font-size: 26px;
  margin-right: 3px;
}
.analysis-trend .list > li .date {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  margin-right: -12px;
  white-space: nowrap;
}
.analysis-trend .list > li span.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #c5c5c5;
  margin-left: 3px;
  vertical-align: middle;
  color: #fff;
  font-size: 15px;
  padding: 5px;
}
.analysis-trend .list > li .icon svg {
  /* fill: #fff; */
  /* width: 15px; */
  /* height: 15px; */
  /* position: relative; */
  /* left: 5px; */
  /* top: 5px; */
}
.analysis-trend .filter {
  background-color: #f8f8f8;
  border-left: 1px solid #c9c9c9;
  min-height: 500px;
}
.analysis-trend .filter .pin {
  padding: 12px 13px;
}
.analysis-trend .filter .btn {
  width: 170px;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}
.analysis-trend .filter .btn.active {
  background-color: #e60012;
  border-color: #c70004;
  color: #fff;
  box-shadow: none;
}
.iteration .list {
  padding: 0 12px;
  min-height: 500px;
}
.iteration .factory {
  background-color: #f8f8f8;
  /* margin: 12px 0; */
  
  position: relative;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}
.iteration .factory .factory-name {
  border: 2px solid #c1c1c1;
  border-radius: 25px;
  padding: 0 16px;
  line-height: 24px;
  position: absolute;
  left: 12px;
  top: -12px;
  color: #fff;
  background-color: #e60012;
  z-index: 1;
}
.iteration .production-line {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #fff;
}
.iteration .production-line:first-of-type {
  border-top: 0;
}
.iteration .production-line:last-of-type {
  border-bottom: 0;
}
.iteration .production-line .line {
  position: absolute;
  bottom: 63px;
  left: 15px;
  right: 15px;
  border-bottom: 2px solid #c5c5c5;
}
.iteration .production-line .line > * {
  position: relative;
  top: 10px;
  vertical-align: middle;
}
.iteration .production-line button {
  border: 0;
  color: #fff;
}
.iteration .production-line button[disabled] {
  background-color: #c5c5c5;
}
.iteration .production-line .compare {
  border-radius: 2px;
  background-color: #e60012;
}
.iteration .production-line .roll {
  border-radius: 50%;
  font-size: 13px;
  width: 19px;
  height: 19px;
  padding: 2px;
  background-color: #de525c;
}
.iteration .production-line .roll.prev {
  margin-left: 10px;
}
.iteration .production-line .roll.prev .icon {
  transform: rotate(-90deg);
}
.iteration .production-line .roll.next {
  float: right;
}
.iteration .production-line .roll.next .icon {
  transform: rotate(90deg);
}
.iteration .production-line .wrap {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.iteration .list .overflow {
  overflow: hidden;
  max-width: 829px;
  margin: 0 49px 0 122px;
  white-space: nowrap;
}
.iteration .list .overflow li {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 243px;
  margin: 20px 0 20px 50px;
}
.iteration .list .overflow li:first-child {
  margin-left: 0;
}
.iteration .list .product-card {
  border: 1px solid #c5c5c5;
  padding: 8px;
  background-color: #fff;
  -webkit-user-select: none;
}
.iteration .list .product-card .img {
  border: 1px solid #e4e4e4;
  height: 90px;
  margin-right: 16px;
  display: flex;
  flex: 1;
}
.iteration .list .product-card .img img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.iteration .list .product-card .info {
  text-align: left;
  width: 130px;
  white-space: normal;
}
.iteration .list .product-card .info h2 {
  margin-bottom: 10px;
  font-size: 13px;
}
.iteration .list .product-card .info p {
  color: #666;
}
.iteration .list .product-card .info label {
  cursor: pointer;
}
.iteration .list .overflow > ul {
  transition: margin-left .3s ease;
}
.iteration .list .overflow li span.icon {
  width: 25px;
  height: 25px;
  font-size: 15px;
  padding: 5px;
  background-color: #c5c5c5;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 15px;
  position: relative;
}
.iteration .list .overflow li span.icon:before {
  content: '';
  display: block;
  position: absolute;
  left: 12px;
  top: -15px;
  width: 1px;
  height: 15px;
  background-color: #c5c5c5;
}
.iteration .list .overflow li .data {
  color: #666;
  margin-top: 12px;
}
.iteration .list .overflow li .cycle {
  position: absolute;
  left: -100px;
  bottom: 20px;
  font-size: 13px;
  width: 150px;
}
.iteration .list .pagination {
  border-right: 1px solid #e5e5e5;
}
.iteration-compare {
  width: 800px;
  min-height: 400px;
}
.attention .grid {
  min-height: 500px;
}
.attention-edit .table {
  table-layout: auto;
}
.attention-edit .form {
  min-height: 500px;
}
.attention-edit p.error {
  margin-top: 5px;
}
.attention-edit span.error {
  margin-left: 5px;
}
.attention-edit .form .module {
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.attention-edit .autocomplete {
  width: 600px;
}
.attention-edit .preview {
  margin-top: 10px;
  width: 600px;
}
.attention-edit .preview .product-card {
  padding: 12px;
}
.attention-edit .grid {

  min-height: 200px;
  width: 800px;
  margin-top: 10px;
}
.attention-edit .empty {
  text-align: center;
  width: 100%;
  line-height: 70px;
  color: #b0b0b0;
}
.attention-edit .preview .img {
  border: 1px solid #e0e0e0;
  width: 80px;
  margin-right: 24px;
}
.attention-edit .preview img {
  max-width: 80px;
  max-height: 75px;
  margin: auto;
}
.attention-edit .preview p {
  line-height: 25px;
}
.attention-edit .preview p label {
  color: #666;
}
.attention-edit .tab-btn {
  margin: 6px 0
}
.attention-edit .shops:not(.tao-out-shops) .tab-btn:last-child,
.attention-edit .shops.tao-out-shops .tab-btn:first-child {
    display: none;
}
.attention-edit .shops-selected {
  border: 1px solid #e0e0e0;
  border-top: 0;
  padding: 5px 10px;
  background-color: #fff;
  width: 800px;
}
.attention-edit .input-toggle {
  margin: 0 10px;
}
.attention-edit .alarmPrice {
  margin-bottom: 10px;
}
.attention-edit .emails {
  padding: 10px;
}
.attention-edit .emails .list li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.attention-edit .emails .list li .email {
  padding: 0px 6px;
  border: 1px solid #dadada;
  background-color: #f8f8f8;
  display: inline-block;
}
.attention-edit .emails .list li .remove {
  border: 1px solid #dadada;
  background-color: #f8f8f8;
  margin-left: -1px;
  padding: 0 3px;
  color: #b1b1b1;
  cursor: pointer;
  display: inline-block;
}
.attention-edit .emails .list li .remove:hover {
  color: #333;
}
.attention-edit .form-bottom {
  margin-left: 66px;
}
.attention .grid .alarm + .alarm {
  margin-left: 5px;
}
.attention .grid .alarm,
.attention-list .grid .alarm,
.dialog-content .attention-record .alarm {
  display: inline-block;
  line-height: 20px;
  padding: 0 8px;
  color: #fff;
}
.attention .grid .alarm.price,
.attention-list .grid .alarm.price,
.dialog-content .attention-record .alarm.price  {
  background-color: #83b97b;
}
.attention .grid .alarm.sales,
.attention-list .grid .alarm.sales,
.dialog-content .attention-record .alarm.sales {
  background-color: #ffb850;
}

.popover .add-emails {
  /*background-color: #f8f8f8;*/
  padding: 10px;
  /*border: 1px solid #c1c1c1;*/
}
.popover .add-emails .textarea {
  width: 270px;
}
.popover .add-emails .error {
  color: #e60012;
}

.attention-list .grid {
  min-height: 500px;
}
.attention-list .grid thead td:first-child {
  width: 200px;
}
.dialog-content .attention-record {
  width: 800px;
  min-height: 400px;
}
.dialog-content .attention-record .text-overflow {
  width: 100px;
  display: inline-block;
}
.dialog-content .attention-emails {
  padding: 10px;
  min-width: 400px;
  height: 200px;
  overflow: auto;
}
.dialog-content .attention-emails a {
  display: block;
  margin-bottom: 10px;
}













