<div class="head">
    <div id="datepicker" class="datepicker flex"></div>
</div>
<div class="module-group">
    <div class="module-head flex">
        <div class="module-title">
            <svg class="icon">
                <use xlink:href="#icon-cup"></use>
            </svg>
            品牌排名
        </div>
        <div class="module-operate">
            <a class="btn btn-sm export">
                <svg class="icon">
                    <use xlink:href="#icon-download"></use>
                </svg>
                导出
            </a>
        </div>
    </div>
    <div class="tab flex">
        <div class="tab-item active" data-type="salesVolume">按销量</div>
        <div class="tab-item" data-type="salesMoney">按成交额</div>
    </div>
    <div class="module-body module grid">
    <script type="text" class="template-grid">
    <table class="table">
        <thead>
            <tr>
                <td>排名</td>
                <# $.each(data.cols, function() { #>
                <td class="text-center">
                    <div data-col="<#- this.col #>" class="<#- this.sortable?'sort':'' #> <#- data.param.sort===this.col?data.param.sortType:'' #>"><#- this.name #></div>
                </td>
                <# }); #>
            </tr>
        </thead>
        <tbody>
            <# $.each(data.stores, function(i, store) { #>
            <tr>
                <td>
                    <div class="rank" <#- (+i+data.param.start<3?'style="background-color:'+App.color[+i+data.param.start]+'"':'') #>><#- (+i+data.param.start+1) #></div>
                </td>
                <# $.each(data.cols, function() { #>
                <td><#- (this.format?$.format[this.format](store[this.col]):store[this.col])||'-' #></td>
                <# }); #>
            </tr>
            <# }); #>
        </tbody>
    </table>
    </script>
    </div>
</div>