<div class="module-group">
  <div class="module-head flex">
    <div class="module-title">
      <svg class="icon">
        <use xlink:href="#icon-column"></use>
      </svg>
      配置演化
    </div>
    <!--         <div class="module-operate">
            <button class="btn btn-sm">
                <svg class="icon">
                    <use xlink:href="#icon-download"></use>
                </svg>
                导出
            </button>
        </div> -->
  </div>
  <div class="module-body flex">
    <div class="flex-1">
      <div class="linear">
        <button class="icon up roll-trigger" disabled>
          <svg class="icon">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <button class="icon down roll-trigger" disabled>
          <svg class="icon">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <div class="overflow module">
          <ul class="list">
            <script type="text" class="template_list">
            <# $.each(data.stores, function(i, store) { #>
              <li>
                <div class="chart flex<#- !this.types&&' empty'||''#>">
                  <# if (this.types) {
                    $.each(this.types, function(k, v) { #>
                    <div class="column">
                      <div class="bar" style="height:<#- $.format.percent(v, 2) #>;background-color:<#- store.color #>">
                        <span class="label"><#- $.format.percent(v, 2) #></span>
                      </div>
                      <span class="name"><#- k #></span>
                    </div>
                    <# });
                    } else { #>
                    暂无数据
                  <# } #>
                </div>
                <div class="new">
                  全网新上市手机
                  <br />
                  <span class="count" style="color:<#- this.color #>"><#- this.new #></span>台
                </div>
                <div class="date">
                  <#- this.date #>
                    <span class="icon">
                      <svg class="icon">
                          <use xlink:href="#icon-clock"></use>
                      </svg>
                  </span>
                </div>
              </li>
              <# }); #>
          </script>
          </ul>
        </div>
      </div>
    </div>
    <div class="filter">
      <div class="pin">
        <button class="btn tab-item active">CPU核数</button>
        <button class="btn tab-item">屏幕尺寸</button>
        <button class="btn tab-item">屏幕分辨率</button>
        <button class="btn tab-item">机身内存ROM</button>
        <button class="btn tab-item">运行内存RAM</button>
        <button class="btn tab-item">最大存储扩展</button>
        <button class="btn tab-item">CPU频率</button>
        <button class="btn tab-item">摄像头像素（后）</button>
        <button class="btn tab-item">摄像头像素（前）</button>
        <!-- <button class="btn tab-item">机身尺寸</button> -->
      </div>
    </div>
  </div>
</div>