<div class="module-group">
    <div class="module-head flex">
        <div class="module-title">
            <svg class="icon">
                <use xlink:href="#icon-balance"></use>
            </svg>
            竞品对比
        </div>
        <div class="module-operate">
            <!-- <button class="btn btn-sm icon-download">导出</button> -->
        </div>
    </div>
    <div class="module-body detail module">
        <script type="text" class="template-detail">
        <dl>
            <dt>基本信息</dt>
            <dd>
                <table class="table">
                    <tr class="pic">
                        <td class="td-1">产品图片</td>
                        <# $.each(data.stores, function() { #>
                        <td>
                        <# if (this.base) { #>
                            <a href="#<#- App.topUrl #>/product?brand=<#- this.base.brand #>&modelType=<#- this.base.modelType #>" target="_blank">
                                <img src="<#- this.base.img||'img/nophoto.jpg' #>" width="100" />
                            </a>
                        <# } else { #>
                            <a href="#<#- App.topUrl #>/compare?selected=1">
                                <svg class="icon add">
                                    <use xlink:href="#icon-plus"></use>
                                </svg>
                                <p>添加</p>
                            </a>
                        <# } #>
                        </td>
                        <# }); #>
                    </tr>
                    <tr>
                        <td class="td-1">产品名称</td>
                        <# $.each(data.stores, function() {
                        if (this.base && this.base.name) { #>
                        <td class="product-name">
                            <a href="#<#- App.topUrl #>/product?brand=<#- this.base.brand #>&modelType=<#- this.base.modelType #>" target="_blank"><#- this.base.name #>
                            </a>
                        </td>
                        <# } else { #>
                        <td><#- this.base&&'-'||'' #></td>
                        <# }
                        }); #>
                    </tr>
                    <tr>
                        <td class="td-1">品牌</td>
                        <# $.each(data.stores, function() { #>
                        <td><#- this.base&&(this.base['brand']||'-')||'' #></td>
                        <# }); #>
                    </tr>
                    <tr>
                        <td class="td-1">型号</td>
                        <# $.each(data.stores, function() { #>
                        <td><#- this.base&&(this.base['modelType']||'-')||'' #></td>
                        <# }); #>
                    </tr>
                    <tr>
                        <td class="td-1">全网平均价</td>
                        <# $.each(data.stores, function() { #>
                        <# if (this.base) { #>
                            <td class="red"><#- ('¥'+this.base['avgPrice'])||'-' #></td>
                        <# } else { #>
                            <td></td>
                        <# } #>
                        <# }); #>
                    </tr>
                    <tr>
                        <td class="td-1">淘系总销量</td>
                        <# $.each(data.stores, function() { #>
                        <td><#- this.base&&(this.base['salesVolume']||'-')||'' #></td>
                        <# }); #>
                    </tr>
                </table>
            </dd>
        </dl>
        <# $.each(data.stores[0].group, function(i) { #>
        <dl>
            <dt>
                <span class="icon">
                    <svg class="icon unfold">
                        <use xlink:href="#icon-plus"></use>
                    </svg>
                    <svg class="icon fold">
                        <use xlink:href="#icon-minus"></use>
                    </svg>
                </span>
                <#- this.name #>
            </dt>
            <dd>
                <table class="table">
                    <# $.each(this.options, function(k) { #>
                    <tr>
                        <td class="td-1"><#- k #></td>
                        <# $.each(data.stores, function() { #>
                        <td><#- this.group&&(this.group[i].options[k]||'-')||'' #></td>
                        <# }); #>
                    </tr>
                    <# }); #>
                </table>
            </dd>
        </dl>
        <# }); #>
        <dl>
            <dt>
                <span class="icon">
                    <svg class="icon unfold">
                        <use xlink:href="#icon-plus"></use>
                    </svg>
                    <svg class="icon fold">
                        <use xlink:href="#icon-minus"></use>
                    </svg>
                </span>
                用户评价
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <td class="td-1">好评</td>
                        <# $.each(data.stores, function() { #>
                        <td>
                            <# this.praise && $.each(this.praise, function() { #>
                            <p><#- this.tag #></p>
                            <# }); #>
                        </td>
                        <# }); #>
                    </tr>
                    <tr>
                        <td class="td-1">差评</td>
                        <# $.each(data.stores, function() { #>
                        <td>
                            <# this.bad && $.each(this.bad, function() { #>
                            <p><#- this.tag #></p>
                            <# }); #>
                        </td>
                        <# }); #>
                    </tr>
                </table>
            </dd>
        </dl>
        </script>
    </div>
</div>