<form action="" class="form module">
  <script type="text" class="template-form">
    <div class="field-group">
      <label for="">产品型号：</label>
      <div class="field modelType">
        <div class="autocomplete">
          <input type="text" value="<#- data.modelType||'' #>" class="input-text" placeholder="请输入产品型号关键词">
          <ul class="search-result module"></ul>
        </div>
        <p class="error"></p>
        <div class="preview module">
          <div class="empty">产品预览</div>
        </div>
      </div>
    </div>
    <div class="field-group">
      <label for="">选择店铺：</label>
      <div class="field shops">
        <div class="tabs">
          <div class="tab-btn">
            <button type="button" class="tab-item tao tmall active" data-cid="Mtmall">天猫</button>
            <button type="button" class="tab-item tao" data-cid="Mtaobao">淘宝</button>
            <button type="button" class="tab-item tao-out">淘系外</button>
          </div>
          <div class="tab-btn">
            <button type="button" class="tab-item back-tao-out active">返回淘系外</button>
          </div>
        </div>
        <div class="module grid">
          <div class="empty">请先选择产品型号</div>
        </div>
        <div class="shops-selected">
          已选择 <span class="red count"><#- Object.keys(data.shops).length #></span> 个店铺
        </div>
        <p class="error"></p>
      </div>
    </div>
    <div class="field-group">
      <label>添加URL：</label>
      <div class="field url">
        <textarea class="textarea" name="url" rows="5" placeholder="输入单品URL，每行一个">
          <#- data.url|| '' #>
        </textarea>
        <p class="error"></p>
      </div>
    </div>
    <div class="field-group">
      <label>报警类型：</label>
      <div>
        <div class="form-inline field alarmPrice">
          低价报警
          <label class="input-toggle">
            <input type="checkbox" name="alarmPriceOpen" <#- data.alarmPriceOpen&& 'checked'|| ''#>>
            <span></span>
          </label>
          <input type="text" value="<#- data.alarmPrice||''#>" class="input-text input-sm" name="alarmPrice" placeholder="输入价格报警阈值">
          <span class="error"></span>
          <div class="help">
            <div class="message-container">
              <span class="message">产品价格低于阈值时报警</span>
            </div>
          </div>
        </div>
        <div class="form-inline field alarmSales">
          销量报警
          <label class="input-toggle">
            <input type="checkbox" name="alarmSalesOpen" <#- data.alarmSalesOpen&& 'checked'|| ''#>>
            <span></span>
          </label>
          <input type="text" value="<#- data.alarmSales||''#>" class="input-text input-sm" name="alarmSales" placeholder="输入销量报警阈值">
          <span class="error"></span>
          <div class="help">
            <div class="message-container">
              <span class="message">产品24小时内销量达到阈值时报警</span>
            </div>
          </div>
        </div>
        <div class="field alarmType">
          <p class="error"></p>
        </div>
      </div>
    </div>
    <div class="field-group">
      <label>报警邮箱：</label>
      <div class="field email">
        <div class="module emails">
          <ul class="list"></ul>
          <button type="button" class="btn btn-sm add-emails">
            <svg class="icon">
              <use xlink:href="#icon-plus"></use>
            </svg>
            新增邮箱
          </button>
        </div>
        <p class="error"></p>
      </div>
    </div>
    <div class="form-bottom">
      <button type="submit" class="btn btn-primary">保存</button>
      <button type="button" class="btn btn-default back">取消</button>
    </div>
  </script>
</form>
<script type="text" id="template_attention_edit_autocomplete">
  <# $.each(data, function(i) { #>
    <li <#- i==0? 'class="active"': ''#> data-val="
      <#- this.modelType #>">
        <#- this.modelType #>
    </li>
    <# }); #>
</script>
<script type="text" id="template_attention_edit_preview">
  <# if (data.name) { #>
  <div class="product-card flex">
    <div class="img flex">
      <img src="<#- data.img || 'img/nophoto.jpg' #>">
      <input type="hidden" name="img" value="<#- data.img #>">
    </div>
    <div>
      <p>
        <label>商品名称：</label>
        <span><#- data.name #></span>
        <input type="hidden" name="name" value="<#- data.name #>">
      </p>
      <p>
        <label>商品型号：</label>
        <span><#- data.modelType #></span>
        <input type="hidden" name="modelType" value="<#- data.modelType #>">
      </p>
      <p>
        <label>商品品牌：</label>
        <span><#- data.brand #></span>
        <input type="hidden" name="brand" value="<#- data.brand #>">
      </p>
    </div>
  </div>
  <# } else { #>
  <div class="empty">该产品已添加</span>
  <# } #>
</script>
<script type="text" id="template_attention_edit_tao">
  <table class="table">
    <thead>
      <tr>
        <td>排序</td>
        <td>产品名称</td>
        <td>店铺名称</td>
        <td>
          <div data-col="nowPrice" class="sort <#- data.param.sort==='nowPrice'&&data.param.sortType||''#>">当前价格</div>
        </td>
        <td>
          <div data-col="sold_month" class="sort <#- data.param.sort==='sold_month'&&data.param.sortType||''#>">月销量</div>
        </td>
        <td>选择店铺</td>
      </tr>
    </thead>
    <tbody>
      <# $.each(data.stores, function(i) { #>
        <tr>
          <td>
            <#- +data.param.start+i+1 #>
          </td>
          <td>
            <# if (this.url) { #>
              <a href="<#- this.url #>" target="_blank">
                <#- this.name #>
              </a>
              <# } else { #>
                <#- this.name #>
                  <# } #>
          </td>
          <td>
            <#- this.seller_name #>
          </td>
          <td class="red">¥
            <#- this.nowPrice #>
          </td>
          <td>
            <#- this.sold_month #>
          </td>
          <td>
            <input type="checkbox" <#- this.checked&& 'checked'|| ''#> class="select-shop" value="
            <#- this.iid #>" data-price="
              <#- this.nowPrice #>" data-sold="
                <#- this.sold_month #>">
          </td>
        </tr>
        <# }); #>
    </tbody>
  </table>
</script>
<script type="text" id="template_attention_edit_taoOut">
  <table class="table">
    <thead>
      <tr>
        <td>排序</td>
        <td>电商名称</td>
        <td>
          <div data-col="nowPrice" class="sort <#- data.param.sort==='nowPrice'&&data.param.sortType||''#>">当前价格</div>
        </td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <# $.each(data.stores, function(i) { #>
        <tr>
          <td>
            <#- +data.param.start+i+1 #>
          </td>
          <td>
            <#- this.cname #>
          </td>
          <td class="red">¥
            <#- this.nowPrice #>
          </td>
          <td>
            <button type="button" data-cid="<#- this.cid #>" class="btn btn-sm">查看站内店铺</button>
          </td>
        </tr>
        <# }); #>
    </tbody>
  </table>
</script>
<script type="text" id="template_attention_edit_taoOutShops">
  <table class="table">
    <thead>
      <tr>
        <td>排序</td>
        <td>产品名称</td>
        <td>店铺名称</td>
        <td>
          <div data-col="nowPrice" class="sort <#- data.param.sort==='nowPrice'&&data.param.sortType||''#>">当前价格</div>
        </td>
        <td>选择店铺</td>
      </tr>
    </thead>
    <tbody>
      <# $.each(data.stores, function(i) { #>
        <tr>
          <td>
            <#- +data.param.start+i+1 #>
          </td>
          <td>
            <# if (this.url) { #>
              <a href="<#- this.url #>" target="_blank">
                <#- this.name #>
              </a>
              <# } else { #>
                <#- this.name #>
                  <# } #>
          </td>
          <td>
            <#- this.seller_name #>
          </td>
          <td class="red">¥
            <#- this.nowPrice #>
          </td>
          <td>
            <input type="checkbox" <#- this.checked&& 'checked'|| ''#> class="select-shop" value="
            <#- this.iid #>" data-price="
              <#- this.nowPrice #>">
          </td>
        </tr>
        <# }); #>
    </tbody>
  </table>
</script>
<script type="text" id="template_attention_edit_email">
  <# $.each(data, function(i, v) { #>
    <li>
      <span class="email"><#- v #></span>
      <span class="remove">
                <svg class="icon ">
                  <use xlink:href="#icon-x"></use>
                </svg>
              </span>
      <input type="hidden" name="email" value="<#- v #>">
    </li>
  <# }); #>
</script>
<script type="text" id="template_attention_edit_addEmails">
  <textarea rows="5" class="textarea" placeholder="输入邮箱地址，每行一个"></textarea>
  <p class="error"></p>
  <div class="btns">
    <button type="button" class="btn btn-sm add">确定</button>
    <button type="button" class="btn btn-sm btn-string cancel">取消</button>
  </div>
</script>