<div class="head flex">
  <div class="flex-1">
    <select class="select select-sm brand"></select>
    <select class="select select-sm alarm-type">
      <option value="">全部报警类型</option>
      <option value="alarmPrice">低价报警</option>
      <option value="alarmSales">销量报警</option>
      <option value="alarmPriceAndSales">低价和销量报警</option>
    </select>
    <select class="select select-sm platform">
      <script type="text" class="template-select">
      <option value=""><#- data.title #></option>
      <# $.each(data.items||[], function(i, v) { #>
      <option value="<#- this.cid #>"><#- this.cname #></option>
      <# }); #>
      </script>
    </select>
    <form class="search inline by-shop"></form>
  </div>
  <div>
    <form class="search inline by-type"></form>
  </div>
</div>

<div class="module-group module grid">
  <script type="text" class="template-grid">
  <table class="table">
      <thead>
          <tr>
              <# $.each(data.cols, function() { #>
              <td class="text-center">
                  <div data-col="<#- this.col #>" class="<#- this.sortable?'sort':'' #> <#- data.param.sort===this.col?data.param.sortType:'' #>"><#- this.name #></div>
              </td>
              <# }); #>
              <td class="text-center" width="100">操作</td>
          </tr>
      </thead>
      <tbody>
          <# $.each(data.stores, function() { #>
          <tr>
              <td class="text-left">
                <a href="<#- this.url #>" target="_blank"><#- this.name #></a>
              </td>
              <td><#- this.modelType #></td>
              <td><#- this.brand #></td>
              <td><#- this.cname #></td>
              <td><#- this.alarmSeller #></td>
              <td><#- this.alarmTime #></td>
              <td>
                <span class="alarm <#- this.alarmType=='低价'&&'price'||'sales'#>"><#- this.alarmType #></span>
              </td>
              <td><#- this.thresholdValue #></td>
              <td class="red"><#- this.alarmValue #></td>
              <td class="no-wrap">
                <button type="button" class="btn btn-sm show-emails" data-id="<#- this.id #>">查看</button>
              </td>
              <td class="text-center">
                  <a href="#<#- App.topUrl #>/product?brand=<#- this.brand #>&modelType=<#- this.modelType #>" target="_blank">查看产品详情</a>
              </td>
          </tr>
          <# }); #>
      </tbody>
  </table>
  </script>
</div>

<script type="text" id="template_attention_list_emails">
<# $.each(data, function(i, v) { #>
<a href="mailto:<#- v #>"><#- v #></a>
<# }); #>
</script>