<div class="head">
  <div id="datepicker" class="datepicker flex"></div>
</div>
<div class="module-group market-size">
  <div class="module-head flex">
    <div class="module-title flex">
      <div>
        <svg class="icon">
          <use xlink:href="#icon-line"></use>
        </svg>
      </div>
      <span>市场规模</span>
      <div class="help">
        <div class="message-container">
          <span class="message">市场规模的数据来源仅天猫商城和淘宝网，图表从最早抓取的时间开始统计。</span>
        </div>
      </div>
    </div>
    <div class="module-operate">
      <a class="btn btn-sm export">
        <svg class="icon">
          <use xlink:href="#icon-download"></use>
        </svg>
        导出
      </a>
    </div>
  </div>
  <div class="tab flex">
    <div class="tab-item active" data-type="salesVolume">按销量</div>
    <div class="tab-item" data-type="salesMoney">按成交额</div>
  </div>
  <div class="module-body line module"></div>
</div>
<div class="module-group brand-ranking">
  <script type="text" class="template-brand-ranking">
    <div class="module-head flex">
      <div class="module-title">
        <svg class="icon">
          <use xlink:href="#icon-pie"></use>
        </svg>
        品牌排名
      </div>
      <div class="module-operate">
        <a href="#<#- App.topUrl #>/analysis/detail" class="btn btn-sm more">查看更多</a>
        <a class="btn btn-sm export">
          <svg class="icon">
            <use xlink:href="#icon-download"></use>
          </svg>
          导出
        </a>
      </div>
    </div>
    <div class="tab flex">
      <div class="tab-item active" data-type="salesVolume">按销量</div>
      <div class="tab-item" data-type="salesMoney">按成交额</div>
    </div>
    <div class="module-body">
      <div class="flex">
        <div class="pie module flex-1"></div>
        <div class="grid module flex-1"></div>
      </div>
      <div class="wom-rank">
        <div class="module-head flex">
          <div class="module-title">
            <span class="">品牌全网口碑</span>
          </div>
          <div class="module-operate">
            <a href="#<#- App.topUrl #>/analysis/detail" class="btn btn-sm more">查看更多</a>
          </div>
        </div>
        <div class="circles module flex"></div>
        <div class="wom-tags">
          <div class="module-head flex">
            <div class="module-title">
              <span class=""><span class="brand-current"></span>口碑热词</span>
            </div>
          </div>
          <div class="flex">
            <div class="tags-good flex-1">
              <div class="tags-title">好评标签</div>
              <div class="tags-content good-content module"></div>
            </div>
            <div class="tags-poor flex-1">
              <div class="tags-title">差评标签</div>
              <div class="tags-content poor-content module"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
</div>
<script type="text" id="template_analysis_brandRanking_grid">
  <table class="table">
    <thead>
      <tr>
        <td>排名</td>
        <# $.each(data.cols, function() { #>
          <td class="text-center">
            <div data-col="<#- this.col #>" class="<#- this.sortable?'sort':'' #> <#- data.param.sort===this.col?data.param.sortType:'' #>">
              <#- this.name #>
            </div>
          </td>
          <# }); #>
      </tr>
    </thead>
    <tbody>
      <# $.each(data.stores||[], function(i, store) { #>
        <tr>
          <td>
            <div class="rank" style="background-color:<#- App.color[i] #>">
              <#- (+i+1) #>
            </div>
          </td>
          <# $.each(data.cols, function() { #>
            <td>
              <#- (this.format?$.format[this.format](store[this.col]):store[this.col])|| '-' #>
            </td>
            <# }); #>
        </tr>
        <# }); #>
    </tbody>
  </table>
</script>
<script type="text" id="template_analysis_brandRanking_circles">
  <div class="circles-legend">
    <span class="legend good">好评</span>
    <span class="legend poor">差评</span>
  </div>
  <div class="circles-container">
    <# $.each(data.stores||[], function(i) { #>
      <div class="circle-container<#- (i==0?' active':'') #>" data-name="<#- this.brand #>">
        <div class="circle"></div>
        <div class="circle-name">
          <span class="name<#- (i==0?' icon-ok':'') #>" <#- (i==0? 'style="color:#fff;background-color:'+App.color[i]+ ';"': '') #>><#- this.brand #></span>
        </div>
      </div>
      <# }); #>
</script>