<div class="head flex">
  <div class="flex-1">
    <button class="btn btn-sm clear-all">
      <svg class="icon">
        <use xlink:href="#icon-delete"></use>
      </svg>
      删除所选产品
    </button>
    <a href="/add" class="btn btn-sm add">
      <svg class="icon">
        <use xlink:href="#icon-plus"></use>
      </svg>
      添加产品
    </a>
  </div>
  <div>
    <select class="select select-sm brand"></select>
    <select class="select select-sm alarm-type">
      <option value="">全部报警类型</option>
      <option value="alarmPrice">低价报警</option>
      <option value="alarmSales">销量报警</option>
      <option value="alarmPriceAndSales">低价和销量报警</option>
    </select>
    <form class="search inline"></form>
  </div>
</div>
<div class="module-group module grid">
  <script type="text" class="template-grid">
    <table class="table">
      <thead>
        <tr>
          <td>
            <input type="checkbox" class="toggle-all">
          </td>
          <# $.each(data.cols, function() { #>
            <td class="text-center">
              <div data-col="<#- this.col #>" class="<#- this.sortable?'sort':'' #> <#- data.param.sort===this.col?data.param.sortType:'' #>">
                <#- this.name #>
              </div>
            </td>
            <# }); #>
              <td class="text-center" width="170">操作</td>
        </tr>
      </thead>
      <tbody>
        <# $.each(data.stores, function() { #>
          <tr>
            <td>
              <input type="checkbox" value="<#- this.id #>">
            </td>
            <td><#- this.category #></td>
            <td><#- this.modelType #></td>
            <td><#- this.brand #></td>
            <td>
              <# $.each(this.alarmType, function(i, v) { #>
                <span class="alarm <#- v=='低价'&&'price'||'sales'#>"><#- v #></span>
              <# }); #>
            </td>
            <td>
              <# if (this.alarmNum) { #>
                <a href="" class="show-record" data-id="<#- this.id #>"><#- this.alarmNum #></a>
              <# } else { #>
                -
              <# } #>
            </td>
            <td><#- this.insertTime #></td>
            <td><#- this.updateTime #></td>
            <td class="btns">
              <a href="#<#- App.topUrl #>/product?brand=<#- this.brand #>&modelType=<#- this.modelType #>" class="btn btn-sm" target="_blank">详情</a>
              <a href="#<#- App.topUrl #>/attention/edit?id=<#- this.id #>" class="btn btn-sm">编辑</a>
              <button class="btn btn-sm remove" data-id="<#- this.id #>">删除</button>
            </td>
          </tr>
          <# }); #>
      </tbody>
    </table>
  </script>
</div>

<script type="text" id="template_attention_record">
<table class="table">
    <thead>
        <tr>
            <# $.each(data.cols, function() { #>
            <td class="text-center">
                <div data-col="<#- this.col #>" class="<#- this.sortable?'sort':'' #> <#- data.param.sort===this.col?data.param.sortType:'' #>"><#- this.name #></div>
            </td>
            <# }); #>
            <td class="text-center">操作</td>
        </tr>
    </thead>
    <tbody>
        <# $.each(data.stores, function() { #>
        <tr>
            <td class="text-left">
              <a href="<#- this.url #>" class="text-overflow" target="_blank"><#- this.name #></a>
            </td>
            <td><#- this.modelType #></td>
            <td><#- this.brand #></td>
            <td><#- this.cname #></td>
            <td><#- this.alarmSeller #></td>
            <td><#- this.alarmTime #></td>
            <td class="no-wrap">
              <span class="alarm <#- this.alarmType=='低价'&&'price'||'sales'#>"><#- this.alarmType #></span>
            </td>
            <td><#- this.thresholdValue #></td>
            <td class="red"><#- this.alarmValue #></td>
            <td class="no-wrap">
              <button type="button" class="btn btn-sm show-emails" data-id="<#- this.id #>">查看</button>
            </td>
            <td class="text-center no-wrap">
                <a href="#<#- App.topUrl #>/product?brand=<#- this.brand #>&modelType=<#- this.modelType #>" target="_blank">查看产品详情</a>
            </td>
        </tr>
        <# }); #>
    </tbody>
</table>
</script>

<script type="text" id="template_attention_list_emails">
<# $.each(data, function(i, v) { #>
<a href="mailto:<#- v #>"><#- v #></a>
<# }); #>
</script>