<div class="head flex">
  <div id="datepicker" class="datepicker flex flex-1"></div>
  <form class="search"></form>
</div>
<div class="module-group">
  <div class="module-head flex">
    <div class="module-title flex">
      <div>
        <svg class="icon">
          <use xlink:href="#icon-zoomIn"></use>
        </svg>
      </div>
      <span>产品象限分布</span>
      <div class="help">
        <div class="message-container">
          <span class="message">销量增幅是本周期销量与上周期相同天数内销量的对比，增幅有正负分别；销量占比是产品销量占全网销量的比例，其中前80%的产品分布在一四象限，后20%分布在二三象限。</span>
        </div>
      </div>
    </div>
    <div class="module-operate">
      <a class="btn btn-sm export" data-type="quadrant">
        <svg class="icon">
          <use xlink:href="#icon-download"></use>
        </svg>
        导出
      </a>
    </div>
  </div>
  <div class="module-body">
    <div class="legend">
      <span class="tcl">TCL产品</span>
      <span class="other">其他品牌产品</span>
      <span class="filter">筛选产品</span>
    </div>
    <div class="quadrant module"></div>
  </div>
</div>
<script type="text" id="template_checking_tip">
  <h1><#- data.brand #></h1>
  <p>
    <#- data.modelType #>
  </p>
  <p>销量占比：
    <#- $.format.percent(data.x, 2) #>
  </p>
  <p>销量增幅：
    <#- $.format.percent(data.y, 2) #>
  </p>
</script>
<script type="text" id="template_checking_detail">
  <div class="list module"></div>
  <div class="text-center">
    <a href="#<#- App.topUrl #>/product?brand=<#- data.brand #>&modelType=<#- data.modelType #>" class="go-detail" target="_blank">产品详情</a>
  </div>
</script>
<script type="text" id="template_checking_detail_list">
  <table class="table">
    <# $.each(data, function(k, v) { #>
      <tr>
        <td class="label">
          <#- k #>
        </td>
        <td>
          <#- v #>
        </td>
      </tr>
      <# }); #>
  </table>
</script>
<div class="module-group">
  <div class="module-head flex">
    <div class="module-title">
      <svg class="icon">
        <use xlink:href="#icon-cup"></use>
      </svg>
      产品排行
    </div>
    <div class="module-operate">
      <a class="btn btn-sm export" data-type="quadrant">
        <svg class="icon">
          <use xlink:href="#icon-download"></use>
        </svg>
        导出
      </a>
    </div>
  </div>
  <div class="module-body grid module">
    <script type="text" class="template-grid">
      <table class="table">
        <thead>
          <tr>
            <td>排名</td>
            <# $.each(data.cols, function() { #>
              <td class="text-center">
                <div data-col="<#- this.col #>" class="<#- this.sortable?'sort':'' #> <#- data.param.sort===this.col?data.param.sortType:'' #>">
                  <#- this.name #>
                </div>
              </td>
              <# }); #>
                <td class="text-center">操作</td>
          </tr>
        </thead>
        <tbody>
          <# $.each(data.stores, function(i, store) { #>
            <tr>
              <td>
                <div class="rank" <#- (+i+data.param.start<3? 'style="background-color:'+App.color[+i+data.param.start]+ '"': '') #>>
                  <#- (+i+data.param.start+1) #>
                </div>
              </td>
              <# $.each(data.cols, function() { #>
                <td>
                  <#- (this.format?$.format[this.format](store[this.col]):store[this.col])|| '-' #>
                </td>
                <# }); #>
                  <td class="text-center">
                    <a href="#<#- App.topUrl #>/product?brand=<#- this.brand #>&modelType=<#- this.modelType #>" target="_blank">产品详情</a>
                  </td>
            </tr>
            <# }); #>
        </tbody>
      </table>
    </script>
  </div>
</div>