<div class="head">
    <div id="datepicker" class="datepicker flex"></div>
    <div class="filter flex">
        <div class="flex-1">
            <select class="select select-sm size"></select>
            <select class="select select-sm brand"></select>
            <form class="form-price inline">
                <div class="input-text-group inline">
                    <span class="icon">￥</span>
                    <input type="text" class="price input-text input-sm">
                </div>
                &nbsp;-&nbsp;
                <div class="input-text-group inline">
                    <span class="icon">￥</span>
                    <input type="text" class="price input-text input-sm">
                </div>
                <button type="submit" class="btn btn-sm btn-primary">确定</button>
            </form>
        </div>
        <form class="search"></form>
    </div>
</div>
<div class="module-group compare">
    <div class="module-head flex">
        <div class="module-title">
            <svg class="icon">
            <use xlink:href="#icon-balance"></use>
            </svg>
            竞品对比
        </div>
        <div class="module-operate">
<!--             <button class="btn btn-sm add">
    <svg class="icon">
        <use xlink:href="#icon-plus"></use>
    </svg>
    新增竞品组
</button> -->
            <button class="btn btn-sm set">
                <svg class="icon">
                    <use xlink:href="#icon-gear"></use>
                </svg>
                对比项设置
            </button>
        </div>
    </div>
    <div class="module-body">
        <div class="list module">
            <script type="text" class="template-list">
            <ul>
                <# $.each(data.stores, function(i) { #>
                <li data-id="<#- this.id #>" <#- data.selected[this.id]?'class="active"':'' #>>
                    <a href="#<#- App.topUrl #>/product?brand=<#- this.brand #>&modelType=<#- this.modelType #>" target="_blank">
                        <h1 class="red"><#- this.brand #></h1>
                        <div class="img">
                            <img src="<#- this.img||'img/nophoto.jpg' #>">
                        </div>
                        <dl>
                            <dt>型号：</dt>
                            <dd class="model-type text-overflow"><#- this.modelType #></dd>
                        </dl>
                        <dl>
                            <dt>全网平均价：</dt>
                            <dd class="red">￥<#- this.avgPrice #></dd>
                        </dl>
                        <dl>
                            <dt>淘系总销量：</dt>
                            <dd class="red"><#- this.salesVolume #></dd>
                        </dl>
                        <div class="bottom">
                            <label class="checkbox-group">
                                <input type="checkbox" <#- data.selected[this.id]?'checked':'' #> class="checkbox" data-index="<#- i #>">
                                <span class="text">加入对比</span>
                            </label>
                        </div>
                    </a>   
                </li>
                <# }); #>
            </ul>
            </script>
        </div>
        <div class="selected">
            <script type="text" class="template-selected">
            <div class="toggle">
                <svg class="icon">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </div>
            <div class="content flex">
                <div class="items-group">
                    <ul class="flex">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="items flex"></div>
                </div>
                <div class="operate">
                    <a href="#<#- App.topUrl #>/compare/detail" target="_blank" class="btn btn-sm btn-primary btn-compare disabled">对比</a><br>
                    <a href="#" class="remove-all">清空对比项</a>
                </div>
            </div>
            </script>
        </div>
    </div>

    <script type="text" id="template_compare_setting">
    <ul class="list scroll"></ul>
    <div class="btns">
        <span class="tip">sads</span>
        <button type="button" class="btn btn-sm btn-primary save">保存</button>
        <button type="button" class="btn btn-sm btn-default dialog-close">取消</button>
    </div>
    </script>

    <script type="text" id="template_compare_group">
    <label <#- !data.name?'class="edit"':'' #>>
        <span class="name<#- data.fixed?' fixed':'' #>"><#- data.name||'' #></span>
        <input type="text" placeholder="输入组名" class="input-name input-text input-sm" value="<#- data.name||'' #>">
    </label>
    <div class="flex-1">
        <ul class="items<#- data.fixed?' fixed':'' #>"></ul>
        <# if (!data.fixed) { #>
        <div class="select dropdown">
            <div class="input-text-group right drop-toggle">
                <input type="text" readonly class="input-text input-sm" placeholder="请选择对比项">
                <svg class="icon">
                    <use xlink:href="#icon-triangle"></use>
                </svg>
            </div>
            <ul class="drop-layer select-list scroll"></ul>
        </div>
        <# } #>
    </div>
    <div class="operate">
        <button class="add" title="新增">
            <svg class="icon">
                <use xlink:href="#icon-plus"></use>
            </svg>
        </button>
        <# if (!data.fixed) { #>
        <button class="remove" title="删除">
            <svg class="icon">
                <use xlink:href="#icon-minus"></use>
            </svg>
        </button>
        <# } #>
    </div>
    </script>

    <script type="text" id="template_compare_group_items">
    <# $.each(data.items||[], function(i, item) { #>
    <li class="item">
        <span><#- item #></span>
        <svg class="icon remove" data-item="<#- item #>">
            <use xlink:href="#icon-x">
                <title>删除</title>
            </use>
        </svg>
    </li>
    <# }); #>
    </script>

    <script type="text" id="template_compare_group_select">
    <# $.each(data, function(k, v) { #>
    <li>
        <label class="checkbox-group"><input type="checkbox" <#- v?'checked':'' #> value="<#- k #>" class="checkbox"><span class="text"><#- k #></span></label>
    </li>
    <# }); #>
    </script>

    <script type="text" id="template_compare_select_item">
    <div class="img">
        <img src="<#- data.img||'img/nophoto.jpg' #>">
    </div>
    <div class="info">
        <p class="red"><#- data.brand #></p>
        <p><#- data.modelType #></p>
        <p class="red">￥<#- data.avgPrice #></p>
    </div>
    <svg class="icon remove">
        <use xlink:href="#icon-x"></use>
    </svg>
    </script>
</div>