<div class="head">
  <form class="search"></form>
</div>
<div class="module-group">
  <div class="module-head flex">
    <div class="module-title">
      <svg class="icon">
        <use xlink:href="#icon-tag"></use>
      </svg>
      产品迭代分析
    </div>
  </div>
  <div class="module-body list module">
    <script class="template-list" type="text">
      <# $.each(data.stores, function() { #>
        <div class="factory">
          <h1 class="factory-name"><#- this.brand #></h1>
          <# $.each(this.productLines, function() { #>
            <div class="production-line">
              <div class="wrap">
                <div class="line" data-count=<#- this.length #>>
                  <button class="compare" <#- this.length>1?'':'disabled'#>>对比参数</button>
                  <button class="icon roll prev" disabled>
                    <svg class="icon">
                      <use xlink:href="#icon-arrow"></use>
                    </svg>
                  </button>
                  <button class="icon roll next" <#- this.length<4? 'disabled': ''#>>
                    <svg class="icon">
                      <use xlink:href="#icon-arrow"></use>
                    </svg>
                  </button>
                </div>
                <div class="overflow">
                  <ul>
                    <# $.each(this, function() { #>
                      <li data-id="<#- this.id #>">
                        <a href="#<#- App.topUrl #>/product?brand=<#- this.brand #>&modelType=<#- this.modelType #>" target="_blank" class="product-card flex">
                          <div class="img">
                            <img src="<#- this.img||'img/nophoto.jpg' #>" alt="">
                          </div>
                          <div class="info">
                            <p>
                              <label>产品型号：</label>
                              <span><#- this.modelType #></span>
                            </p>
                            <p>
                              <label>首发价格：</label>
                              <span class="red">¥<#- this.price #></span>
                            </p>
                            <p>
                              <label>首发网站：</label>
                              <span><#- this.cname #></span>
                            </p>
                          </div>
                        </a>
                        <span class="icon">
                                    <svg class="icon">
                                        <use xlink:href="#icon-clock"></use>
                                    </svg>
                                </span>
                        <p class="data">
                          <#- $.format.date(this.timestamp*1000, 'yyyy.mm.dd') #>
                        </p>
                        <# if ( 'intervalDays' in this) { #>
                          <p class="cycle">
                            <#- this.intervalDays|| '不到1' #>天</p>
                          <# } #>
                      </li>
                      <# }); #>
                  </ul>
                </div>
              </div>
            </div>
            <# }); #>
        </div>
        <# }); #>
    </script>
  </div>
</div>
<script type="text" id="template_iteration_compare">
  <table class="table">
    <thead>
      <tr>
        <# $.each(data.cols, function() { #>
          <td class="text-center">
            <div data-col="<#- this.col #>" class="<#- this.sortable?'sort':'' #> <#- data.param.sort===this.col?data.param.sortType:'' #>">
              <#- this.name||this.col #>
            </div>
          </td>
          <# }); #>
      </tr>
    </thead>
    <tbody>
      <# $.each(data.stores, function(i, store) { #>
        <tr>
          <# $.each(data.cols, function() { #>
            <td>
              <#- (this.format?$.format[this.format](store[this.col]):store[this.col])|| '-' #>
            </td>
            <# }); #>
        </tr>
        <# }); #>
    </tbody>
  </table>
</script>