<div class="head">
  <div id="datepicker" class="datepicker flex"></div>
</div>
<div class="module-group module-body module detail">
  <script type="text" class="template-detail">
    <div class="flex">
      <div class="picture-container flex-1 flex">
        <img class="picture" src="<#- (data.picture||'img/nophoto.jpg') #>">
      </div>
      <div class="overview flex-1">
        <ul class="list">
          <li class="list-item">
            <span class="col-name">产品型号</span>
            <span class="col-value"><#- data.model || '-' #></span>
          </li>
          <li class="list-item">
            <span class="col-name">产品品牌</span>
            <span class="col-value"><#- data.brand || '-' #></span>
          </li>
        </ul>
        <div class="tags">
          <div class="list-item flex">
            <span class="col-name">评论标签</span>
            <div class="tab-btn">
              <button class="tab-item active" data-type="good">好评</button>
              <button class="tab-item" data-type="bad">差评</button>
            </div>
          </div>
          <div class="tags-content module"></div>
        </div>
      </div>
    </div>
    <div class="parameter">
      <div class="list-item">
        <span class="col-name">产品参数：<#- data.properties ? '' : '-' #></span>
      </div>
      <ul class="parameter-list flex">
        <# $.each(data.properties || [], function(k, v) { #>
          <li class="parameter-item text-overflow">
            <#- k + '：' + v #>
          </li>
          <# }); #>
      </ul>
    </div>
  </script>
</div>
<div class="module-group">
  <div class="module-head">
    <div class="module-title">
      <svg class="icon">
        <use xlink:href="#icon-line"></use>
      </svg>此产品在全网平均价格、销量的变化趋势
    </div>
  </div>
  <div class="module-body module full-line"></div>
</div>
<div class="module-group special">
  <script type="text" class="template-special">
    <div class="module-head flex">
      <div class="module-title flex-1">
        <svg class="icon">
          <use xlink:href="#icon-cart"></use>
        </svg>
        <#- data.name #>各
          <#- data.cid? '店铺': '电商' #>此产品信息
      </div>
      <div class="tab-btn">
        <# if (!data.cid||data.cid in { 'Mtmall': '', 'Mtaobao': ''}) { #>
          <button class="tab-item<#- data.cid==='Mtmall'?' active':'' #>" data-key="Mtmall">天猫</button>
          <button class="tab-item<#- data.cid==='Mtaobao'?' active':'' #>" data-key="Mtaobao">淘宝</button>
          <button class="tab-item<#- !data.cid?' active':'' #>" data-key="">淘系外</button>
          <# } else { #>
            <button class="btn btn-sm btn-primary back-out">返回淘系外</button>
            <# } #>
      </div>
    </div>
    <div class="module-body module grid"></div>
  </script>
</div>
<script type="text" id="template_product_special_grid">
  <table class="table">
    <thead>
      <tr>
        <td>排序</td>
        <# $.each(data.cols, function() { #>
          <td class="text-center">
            <div data-col="<#- this.col #>" class="<#- this.sortable?'sort':'' #> <#- data.param.sort===this.col?data.param.sortType:'' #>">
              <#- this.name #>
            </div>
          </td>
          <# }); #>
            <td class="text-center">操作</td>
      </tr>
    </thead>
    <tbody>
      <# $.each(data.stores, function(i, store) { #>
        <tr>
          <td>
            <#- (+data.param.start+i+1) #>
          </td>
          <# $.each(data.cols, function() { #>
            <td>
              <# if (this.col==='name' ) { #>
                <a href="<#- store.url #>" target="blank">
                  <#- store.name #>
                </a>
                <# } else { #>
                  <#- (this.format?$.format[this.format](store[this.col]):store[this.col])|| '-' #>
                    <# } #>
            </td>
            <# }); #>
              <td class="text-center">
                <# if (data.param.cid) { if (data.param.cid in { 'Mtmall': '', 'Mtaobao': ''}) { #>
                  <a href="" class="show-store" data-name="<#- this.seller_name #>" data-cid="<#- this.cid #>" data-iid="<#- this.iid #>">查看价格和销量变化</a>
                  <# } else { #>
                    <a href="" class="show-store" data-name="<#- this.seller_name #>" data-cid="<#- this.cid #>" data-iid="<#- this.iid #>">查看价格变化</a>
                    <# } } else { #>
                      <a href="" class="show-stores" data-name="<#- this.cname #>" data-cid="<#- this.cid #>">查看站内店铺</a>
                      <# } #>
              </td>
        </tr>
        <# }); #>
    </tbody>
  </table>
</script>
<script type="text" id="template_product_special_store">
  <div class="module-head flex">
    <div class="module-title flex-1">
      <svg class="icon">
        <use xlink:href="#icon-cart"></use>
      </svg>
      <#- data.name #>
    </div>
    <div>
      <button class="btn btn-sm btn-primary close">关闭</button>
    </div>
  </div>
  <div class="module-body module line"></div>
</script>