<div class="head flex">
    <div class="datepicker flex flex-1"></div>
    <form class="search"></form>
</div>
<div class="module-group">
    <div class="module-head flex">
        <div class="module-title">
            <svg class="icon">
                <use xlink:href="#icon-cup"></use>
            </svg>
            产品排行
        </div>
        <div class="module-operate">
            <a class="btn btn-sm export">
                <svg class="icon">
                    <use xlink:href="#icon-download"></use>
                </svg>
                导出
            </a>
        </div>
    </div>
    <div class="module-body">
        <div class="grid module">
            <script type="text" class="template-grid">
            <table class="table">
                <thead>
                    <tr>
                        <td>排名</td>
                        <# $.each(data.cols, function() { #>
                        <td class="text-center">
                            <div data-col="<#- this.col #>" class="<#- this.sortable?'sort':'' #> <#- data.param.sort===this.col?data.param.sortType:'' #>"><#- this.name #></div>
                        </td>
                        <# }); #>
                        <td class="text-center">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <# $.each(data.stores, function(i, store) { #>
                    <tr>
                        <td>
                            <div class="rank" <#- (+i+data.param.start<3?'style="background-color:'+App.color[+i+data.param.start]+'"':'') #>><#- (+i+data.param.start+1) #></div>
                        </td>
                        <# $.each(data.cols, function() { #>
                        <td><#- (this.format?$.format[this.format](store[this.col]):store[this.col])||'-' #></td>
                        <# }); #>
                        <td class="text-center">
                            <a href="#<#- App.topUrl #>/product?brand=<#- this.brand #>&modelType=<#- this.modelType #>" target="_blank">产品详情</a>
                        </td>
                    </tr>
                    <# }); #>
                </tbody>
            </table>
            </script>
        </div>
    </div>
</div>