<div class="autocomplete">
  <input type="text" placeholder="搜索...">
  <ul class="search_result"></ul>
</div>

<script type="text" id="template-autocomplete">
<# $.each(data, function(i, v) { #>
<li data-val="<#- v #>"><#- v #></li>
<# }); #>
</script>